openapi: 3.0.3

# The contract the Jambo mobile and TV app is written against.
#
# Hand-maintained, and kept honest by tests/Feature/Api/V1/OpenApiSpecTest.php,
# which fails when a route exists that this file does not describe. That test is
# the reason to edit this file in the same commit as an endpoint, not later:
# drift between a shipped APK and a live server cannot be hot-fixed the way a
# web page can.
#
# Two rules that apply everywhere and are not repeated per endpoint:
#   * Every response uses the envelope in components/schemas/Envelope*.
#   * Clients branch on `code`, never on `message`. Message text is reworded;
#     codes are a contract and only change with a new API version.

info:
  title: Jambo API
  version: 1.0.0
  description: |
    Catalogue, authentication, devices and playback for the Jambo Android and
    Android TV app. Introduced 2026-09-08 alongside
    `docs/plans/mobile-offline-app.md`.

    Download and offline endpoints are Phase 3 and are not described here yet.

servers:
  - url: https://jambofilms.com/api/v1
    description: production
  - url: http://localhost:8090/api/v1
    description: local

tags:
  - name: App
  - name: Auth
  - name: Devices
  - name: Catalogue
  - name: Playback
  - name: Viewer

security:
  - bearerAuth: []

paths:
  /app/config:
    get:
      tags: [App]
      summary: Client configuration and the server clock
      description: |
        Called unauthenticated on launch. `server_time` is the anchor the app
        uses for offline licence checks (ADR-0003): a wall clock earlier than
        the last known server time is treated as rollback.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/AppConfig'

  /auth/login:
    post:
      tags: [Auth]
      summary: Sign in and receive a device-bound token
      description: |
        Shares the website login's throttle bucket, keyed on email plus IP.
        When the account has two-factor enabled this returns 422
        `TWO_FACTOR_REQUIRED` with a `challenge_token`; no token is issued and
        no device row is created until the challenge is answered.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, device]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
                device: { $ref: '#/components/schemas/DeviceRegistration' }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Session'
        '401':
          description: INVALID_CREDENTIALS
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '403':
          description: ACCOUNT_DEACTIVATED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: VALIDATION_FAILED, or TWO_FACTOR_REQUIRED with a challenge_token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeError'
                  - properties:
                      challenge_token:
                        type: string
                        description: Present only for TWO_FACTOR_REQUIRED. Not an access token.
        '429':
          description: RATE_LIMITED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/2fa/challenge:
    post:
      tags: [Auth]
      summary: Complete a two-factor sign-in
      description: |
        Send either `code` (TOTP) or `recovery_code`. A wrong code does not
        consume the challenge, so a typo does not send the viewer back to the
        password screen; the challenge still expires on its own after 5 minutes.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge_token]
              properties:
                challenge_token: { type: string }
                code: { type: string, description: Six-digit TOTP }
                recovery_code: { type: string }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Session'
        '401':
          description: TWO_FACTOR_CHALLENGE_EXPIRED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: TWO_FACTOR_INVALID
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/register:
    post:
      tags: [Auth]
      summary: Create an account and sign in
      description: |
        Same validation, default role and Registered event as the website, so
        an account created here is indistinguishable from one created in a
        browser. The viewer is signed in immediately and a device row is
        created, exactly as the web form logs you in.

        The website's honeypot and reCAPTCHA do NOT apply: a native form has no
        DOM for a bot to fill and no browser token to produce. The route's
        throttle and the SignupAttempt log carry that weight instead.

        The account is usable before the email is verified; show a banner, not
        a wall, matching the site.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, username, email, password, password_confirmation, device]
              properties:
                first_name: { type: string, maxLength: 100 }
                last_name: { type: string, maxLength: 100 }
                username:
                  type: string
                  minLength: 3
                  maxLength: 50
                  pattern: '^[a-zA-Z0-9_.\-]+$'
                  description: |
                    Becomes the account's referral code and its profile URL
                    (/{username}), so reserved words are refused.
                email: { type: string, format: email }
                password: { type: string, format: password }
                password_confirmation: { type: string, format: password }
                device: { $ref: '#/components/schemas/DeviceRegistration' }
      responses:
        '201':
          description: Account created and signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/Session'
                          - type: object
                            properties:
                              email_verified: { type: boolean }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '429':
          description: RATE_LIMITED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/google:
    post:
      tags: [Auth]
      summary: Sign in with a Google ID token
      description: |
        The app obtains an ID token from Google's own sign-in SDK and sends it
        here; the server verifies it with Google, checks the audience matches
        this app's client id, and issues a Jambo device token.

        The audience check is the point: a valid Google token issued to another
        app is still a valid Google token.

        Google being unreachable answers INVALID_CREDENTIALS rather than
        allowing the sign-in. Two-factor still applies — Google proves the
        mailbox, not possession of the authenticator.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token, device]
              properties:
                id_token: { type: string, description: The ID token from Google Sign-In. }
                device: { $ref: '#/components/schemas/DeviceRegistration' }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/Session' }
        '401':
          description: INVALID_CREDENTIALS — unverifiable token, wrong audience, or no proven email
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '403':
          description: ACCOUNT_DEACTIVATED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: TWO_FACTOR_REQUIRED, with a challenge_token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeError'
                  - properties:
                      challenge_token: { type: string }

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request a password reset link
      description: |
        The response is identical whether or not the address has an account —
        echoing the real status would turn this into an account-enumeration
        oracle. The mail only goes out when the account is real. The link lands
        on the website.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: Always, whether or not the account exists
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Complete a password reset
      description: |
        Signs out every device on the account. A reset is usually someone
        recovering an account they believe was compromised, so leaving other
        sessions alive would defeat it.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, email, password, password_confirmation]
              properties:
                token: { type: string, description: From the emailed link. }
                email: { type: string, format: email }
                password: { type: string, format: password }
                password_confirmation: { type: string, format: password }
      responses:
        '200':
          description: Password reset
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED — expired or wrong token
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/password:
    put:
      tags: [Auth]
      summary: Change your password
      description: |
        Requires the current password: knowing it is what separates the account
        owner from someone holding a stolen handset.

        Signs out every OTHER device. The device making the change keeps
        working, so the viewer is not thrown out of the app they are in.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, password, password_confirmation]
              properties:
                current_password: { type: string, format: password }
                password: { type: string, format: password }
                password_confirmation: { type: string, format: password }
      responses:
        '200':
          description: Changed
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/email:
    get:
      tags: [Auth]
      summary: Is this account's email verified
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          email: { type: string }
                          verified: { type: boolean }

  /auth/email/resend:
    post:
      tags: [Auth]
      summary: Send the verification email again
      description: |
        Throttled below the read endpoints, because it sends mail. An
        already-verified account answers success without sending anything, so a
        retrying client cannot generate mail.
      responses:
        '200':
          description: Sent, or already verified
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          verified: { type: boolean }
        '429':
          description: RATE_LIMITED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Sign out this device only
      description: Deletes the calling token and marks its device revoked. Other devices are untouched.
      responses:
        '200':
          description: Signed out
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /me:
    get:
      tags: [Auth]
      summary: The signed-in viewer, their plan and their caps
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Me'
        '401':
          description: UNAUTHENTICATED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /devices:
    get:
      tags: [Devices]
      summary: App installs signed into this account
      description: Revoked devices are omitted. Exactly one row has `is_current` true.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          devices:
                            type: array
                            items: { $ref: '#/components/schemas/Device' }

  /devices/{uuid}:
    delete:
      tags: [Devices]
      summary: Sign a device out
      description: |
        Deletes that device's token and stops whatever it was playing counting
        against the concurrent-stream cap. A uuid on another account answers
        DEVICE_NOT_FOUND rather than 403, so the endpoint cannot be used to
        discover that a device exists elsewhere.
      parameters:
        - name: uuid
          in: path
          required: true
          schema: { type: string, pattern: '^[A-Za-z0-9\-_]{8,64}$' }
      responses:
        '200':
          description: Device signed out
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '404':
          description: DEVICE_NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /home:
    get:
      tags: [Catalogue]
      summary: The home screen
      description: |
        Calls the same HomeRailsService the website's view composer calls, so
        the rails, their order and the rules that pick them are the website's.
        Section headings come from the same `sectionTitle` translation keys the
        blades render.

        Public, but personalising: send a bearer token and Continue Watching
        appears and the personalised rails become personal. Without one the
        response is the guest home screen rather than an error.

        `rails` is an ordered list, not a fixed object, so a rail added
        server-side needs no app release. Empty rails are omitted entirely.
        Render by `kind`, not by `key`.
      security:
        - {}
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Home'

  /movies:
    get:
      tags: [Catalogue]
      summary: Published movies, newest first
      security: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: per_page, in: query, schema: { type: integer, default: 24, maximum: 60 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/MovieList'

  /movies/{slug}:
    get:
      tags: [Catalogue]
      summary: One movie
      description: |
        Reachable for published and upcoming titles. `is_released` says whether
        it can be watched yet, which is not the same as whether this viewer may
        watch it — that is answered by POST /playback/sessions.
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          movie: { $ref: '#/components/schemas/MovieDetail' }
                          is_released: { type: boolean }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /series:
    get:
      tags: [Catalogue]
      summary: Published series, newest first
      security: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: per_page, in: query, schema: { type: integer, default: 24, maximum: 60 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/SeriesList'

  /series/{slug}:
    get:
      tags: [Catalogue]
      summary: One series with its seasons and episodes
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          series: { $ref: '#/components/schemas/SeriesDetail' }
                          is_released: { type: boolean }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /episodes/{id}:
    get:
      tags: [Catalogue]
      summary: One episode and the series it belongs to
      security: []
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          episode: { $ref: '#/components/schemas/Episode' }
                          series: { $ref: '#/components/schemas/SeriesCard' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /search:
    get:
      tags: [Catalogue]
      summary: Search movies and series by title
      description: Fewer than two characters returns empty lists rather than an error.
      security: []
      parameters:
        - { name: q, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          query: { type: string }
                          movies: { type: array, items: { $ref: '#/components/schemas/MovieCard' } }
                          series: { type: array, items: { $ref: '#/components/schemas/SeriesCard' } }

  /genres:
    get:
      tags: [Catalogue]
      summary: Every genre, with how much published content each has
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          genres: { type: array, items: { $ref: '#/components/schemas/GenreCard' } }

  /genres/{slug}:
    get:
      tags: [Catalogue]
      summary: One genre and its published titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /categories:
    get:
      tags: [Catalogue]
      summary: Every category
      description: '`visible_home` marks the ones the admin put on the homepage.'
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          categories: { type: array, items: { $ref: '#/components/schemas/CategoryCard' } }

  /categories/{slug}:
    get:
      tags: [Catalogue]
      summary: One category and its published titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /vjs:
    get:
      tags: [Catalogue]
      summary: VJs with published work
      description: |
        A VJ is the narrator who voices a title — Jambo's own concept, not part
        of the Streamit template. VJs whose entire catalogue is still draft are
        not listed.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          vjs: { type: array, items: { $ref: '#/components/schemas/VjCard' } }

  /vjs/{slug}:
    get:
      tags: [Catalogue]
      summary: One VJ, their links and their titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /cast/{slug}:
    get:
      tags: [Catalogue]
      summary: One cast member and their titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /{type}/{slug}/reviews:
    parameters:
      - { name: type, in: path, required: true, schema: { type: string, enum: [movies, series] } }
      - { name: slug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Viewer]
      summary: The review thread for a title
      description: |
        Published reviews, newest first, plus the aggregate shown beside the
        stars and this viewer's own review — so a detail screen needs one
        request rather than three.

        Public, but send a bearer token to get `mine` populated.
      security:
        - {}
        - bearerAuth: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/ReviewThread' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    post:
      tags: [Viewer]
      summary: Write or replace your review
      description: |
        One review per viewer per title. Posting again edits the existing one
        rather than adding a second, which also makes this safe to retry.
        Only a genuinely new review notifies an admin; an edit does not.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stars, body]
              properties:
                stars: { type: integer, minimum: 1, maximum: 5 }
                title: { type: string, maxLength: 200, nullable: true }
                body: { type: string, minLength: 3, maxLength: 4000 }
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          review: { $ref: '#/components/schemas/Review' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    delete:
      tags: [Viewer]
      summary: Remove your review
      description: Idempotent — removing one that is not there is a success.
      responses:
        '200':
          description: Removed
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /episodes/{id}/comments:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
    get:
      tags: [Viewer]
      summary: The comment thread under an episode
      description: |
        Approved top-level comments, newest first, each with its replies
        nested. Public, but send a bearer token to get `is_mine` populated.
      security:
        - {}
        - bearerAuth: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items: { type: array, items: { $ref: '#/components/schemas/CommentThread' } }
                          next_cursor: { type: string, nullable: true }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    post:
      tags: [Viewer]
      summary: Post a comment or a reply
      description: A `parent_id` must belong to the same episode, or the reply is refused.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, minLength: 2, maxLength: 2000 }
                parent_id: { type: integer, nullable: true, description: The comment being replied to. }
      responses:
        '201':
          description: Posted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          comment: { $ref: '#/components/schemas/Comment' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /comments/{id}:
    delete:
      tags: [Viewer]
      summary: Delete your own comment
      description: |
        Admins may delete any. Somebody else's comment answers NOT_FOUND
        rather than 403, so the endpoint cannot be used to confirm a comment
        exists.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Removed
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /watchlist:
    get:
      tags: [Viewer]
      summary: The viewer's watchlist
      description: Rows whose title has since been deleted are dropped rather than returned as nulls.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              oneOf:
                                - $ref: '#/components/schemas/MovieCard'
                                - $ref: '#/components/schemas/SeriesCard'
                                - $ref: '#/components/schemas/Episode'
    post:
      tags: [Viewer]
      summary: Add a title to the watchlist
      description: |
        Idempotent — adding something already on the list succeeds and changes
        nothing, so a retry after a dropped connection is safe. This is
        deliberately not the website's toggle endpoint: a retried toggle
        silently undoes itself.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, id]
              properties:
                type: { type: string, enum: [movie, show, episode] }
                id: { type: integer }
      responses:
        '200':
          description: On the list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          in_list: { type: boolean }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /watchlist/{type}/{id}:
    delete:
      tags: [Viewer]
      summary: Remove a title from the watchlist
      description: Idempotent — removing something that is not on the list is a success, not a 404.
      parameters:
        - { name: type, in: path, required: true, schema: { type: string, enum: [movie, show, episode] } }
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Not on the list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          in_list: { type: boolean }

  /continue-watching:
    get:
      tags: [Viewer]
      summary: Continue Watching as its own screen
      description: |
        The same cards the home screen's `continue_watching` rail carries, from
        the same service, so the two cannot disagree about where the viewer
        stopped. Finished titles are excluded; see /history for those.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items: { $ref: '#/components/schemas/ContinueWatchingCard' }

  /history:
    get:
      tags: [Viewer]
      summary: Everything watched, newest first
      description: A record rather than a to-do list, so unlike Continue Watching it keeps finished titles.
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items: { $ref: '#/components/schemas/HistoryEntry' }
                          next_cursor: { type: string, nullable: true }

  /playback/sessions:
    post:
      tags: [Playback]
      summary: Authorize playback and get a URL
      description: |
        Runs the same entitlement rules as the website (PlaybackAuthorizer):
        release state, the site-wide sign-up switch, the plan level with an
        episode inheriting its series' plan, the admin bypass, and the
        concurrent-stream cap keyed on this device's uuid.

        `source` is `file` for titles Jambo hosts and `embed` for YouTube-backed
        ones, which cannot be downloaded and must be opened in an embed.

        A `low` request for a title with no data-saver rendition is refused
        rather than silently served at full size.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, id]
              properties:
                type: { type: string, enum: [movie, episode] }
                id: { type: integer }
                quality: { type: string, enum: [default, low], default: default }
      responses:
        '200':
          description: Authorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/PlaybackSession'
        '401':
          description: UNAUTHENTICATED or LOGIN_REQUIRED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '403':
          description: SUBSCRIPTION_REQUIRED or UPGRADE_REQUIRED, with `required_tier`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeError'
                  - properties:
                      required_tier: { $ref: '#/components/schemas/Tier' }
        '404':
          description: NOT_FOUND, or CONTENT_UNAVAILABLE for an unreleased title or a missing rendition
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '409':
          description: STREAM_LIMIT — entitled, but already watching on as many devices as the plan allows
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /playback/heartbeat:
    post:
      tags: [Playback]
      summary: Report playback position
      description: |
        Send every `heartbeat_seconds` while playing. Records the resume
        position, refreshes the live-stream signal the cap reads, and raises the
        event partner earnings accrue from — the same recorder the website uses.

        A 409 means this device was booted from the account mid-stream: stop
        playing and sign out.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, id, position]
              properties:
                type: { type: string, enum: [movie, episode] }
                id: { type: integer }
                position: { type: integer, minimum: 0, description: Seconds into the title }
                duration: { type: integer, minimum: 1, description: 'Player-reported runtime, when known' }
      responses:
        '200':
          description: Recorded
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          position: { type: integer }
                          completed: { type: boolean }
        '409':
          description: DEVICE_REVOKED — this device was signed out mid-stream
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: A Sanctum personal access token from /auth/login, bound to one device.

  schemas:
    EnvelopeOk:
      type: object
      required: [success, message, data]
      properties:
        success: { type: boolean, enum: [true] }
        message: { type: string }
        data: { type: object }

    EnvelopeError:
      type: object
      required: [success, code, message, errors]
      properties:
        success: { type: boolean, enum: [false] }
        code:
          type: string
          description: Branch on this, never on `message`.
          enum:
            - UNAUTHENTICATED
            - INVALID_CREDENTIALS
            - ACCOUNT_DEACTIVATED
            - TWO_FACTOR_REQUIRED
            - TWO_FACTOR_INVALID
            - TWO_FACTOR_CHALLENGE_EXPIRED
            - DEVICE_REVOKED
            - DEVICE_NOT_FOUND
            - LOGIN_REQUIRED
            - SUBSCRIPTION_REQUIRED
            - UPGRADE_REQUIRED
            - STREAM_LIMIT
            - CONTENT_UNAVAILABLE
            - VALIDATION_FAILED
            - NOT_FOUND
            - FORBIDDEN
            - RATE_LIMITED
            - APP_UPDATE_REQUIRED
            - SERVER_ERROR
        message: { type: string }
        errors:
          type: object
          description: Field-keyed validation messages; empty object when not a validation failure.

    AppConfig:
      type: object
      properties:
        min_app_version: { type: string, example: '1.0.0' }
        server_time: { type: string, format: date-time }
        features:
          type: object
          properties:
            downloads: { type: boolean }
            in_app_subscribe: { type: boolean }
        support:
          type: object
          properties:
            site_url: { type: string }

    DeviceRegistration:
      type: object
      required: [uuid, platform]
      description: Generated by the app at first launch. The uuid is also this device's streaming session key.
      properties:
        uuid: { type: string, minLength: 8, maxLength: 64 }
        platform: { type: string, enum: [android, android_tv] }
        name: { type: string, maxLength: 120 }
        model: { type: string, maxLength: 120 }
        app_version: { type: string, maxLength: 32 }

    Device:
      type: object
      properties:
        uuid: { type: string }
        name: { type: string, nullable: true }
        model: { type: string, nullable: true }
        platform: { type: string, enum: [android, android_tv] }
        app_version: { type: string, nullable: true }
        last_seen_at: { type: string, format: date-time, nullable: true }
        is_current: { type: boolean }

    Session:
      type: object
      properties:
        token: { type: string, description: Bearer token. Store securely; it does not expire on a timer. }
        device:
          type: object
          properties:
            uuid: { type: string }
            platform: { type: string }
            name: { type: string, nullable: true }
        user:
          type: object
          properties:
            id: { type: integer }
            username: { type: string }
            email: { type: string }

    Tier:
      type: object
      properties:
        name: { type: string }
        slug: { type: string }
        access_level: { type: integer }

    Me:
      type: object
      properties:
        user:
          type: object
          properties:
            id: { type: integer }
            first_name: { type: string }
            last_name: { type: string }
            username: { type: string }
            email: { type: string }
            is_admin: { type: boolean }
        subscription:
          type: object
          nullable: true
          properties:
            tier: { $ref: '#/components/schemas/Tier' }
            starts_at: { type: string, format: date-time, nullable: true }
            ends_at: { type: string, format: date-time, nullable: true }
        limits:
          type: object
          properties:
            max_concurrent_streams:
              type: integer
              nullable: true
              description: null means the plan sets no cap. Render "unlimited", not "none".
        server_time: { type: string, format: date-time }

    Home:
      type: object
      properties:
        hero:
          type: array
          description: Curated at /admin/featured, falling back to an automatic mix. Movies and series interleaved.
          items:
            oneOf:
              - $ref: '#/components/schemas/MovieCard'
              - $ref: '#/components/schemas/SeriesCard'
        rails:
          type: array
          items: { $ref: '#/components/schemas/Rail' }
        server_time: { type: string, format: date-time }

    Rail:
      type: object
      properties:
        key:
          type: string
          description: |
            Stable identifier. Category shelves are `category:<slug>`, so this
            set is open-ended - never switch on it exhaustively.
          example: top_movies
        title:
          type: string
          description: Already translated, and the same string the website renders.
        kind:
          type: string
          description: Which card component to render. Treat an unknown kind as a rail to skip.
          enum: [titles, progress, genres, vjs, people]
        items:
          type: array
          description: Shape depends on `kind`. Never empty - an empty rail is omitted.
          items:
            oneOf:
              - $ref: '#/components/schemas/MovieCard'
              - $ref: '#/components/schemas/SeriesCard'
              - $ref: '#/components/schemas/ContinueWatchingCard'
              - $ref: '#/components/schemas/GenreCard'
              - $ref: '#/components/schemas/VjCard'
              - $ref: '#/components/schemas/PersonCard'

    ContinueWatchingCard:
      type: object
      description: kind = progress.
      properties:
        title: { type: string }
        subtitle: { type: string, description: 'For a series, S01E02 and the episode title.' }
        image_url: { type: string }
        progress_percent: { type: integer }
        minutes_left: { type: integer }
        position_seconds: { type: integer }
        resume:
          type: object
          description: |
            What to play. For a series this is the EPISODE, not the show -
            deliberately different from `remove` below.
          properties:
            type: { type: string, enum: [movie, episode] }
            id: { type: integer }
        remove:
          type: object
          description: |
            What to forget. For a series this is the SHOW: the rail dedupes by
            show, so removing one episode would let the card re-surface.
          properties:
            type: { type: string, enum: [movie, show] }
            id: { type: integer }

    ReviewThread:
      type: object
      properties:
        stats:
          type: object
          properties:
            count: { type: integer }
            average:
              type: number
              description: |
                Rounded to one decimal, matching the website's star display.
                JSON drops a zero fraction, so a whole average arrives as 4
                rather than 4.0 - parse as a float.
        mine:
          allOf: [{ $ref: '#/components/schemas/Review' }]
          nullable: true
          description: This viewer's own review, or null. Requires a bearer token.
        items: { type: array, items: { $ref: '#/components/schemas/Review' } }
        next_cursor: { type: string, nullable: true }

    Review:
      type: object
      properties:
        id: { type: integer }
        stars: { type: integer, minimum: 1, maximum: 5 }
        title: { type: string, nullable: true }
        body: { type: string }
        created_at: { type: string, format: date-time, nullable: true }
        updated_at: { type: string, format: date-time, nullable: true }
        author: { $ref: '#/components/schemas/Author' }

    Comment:
      type: object
      properties:
        id: { type: integer }
        body: { type: string }
        created_at: { type: string, format: date-time, nullable: true }
        author: { $ref: '#/components/schemas/Author' }
        is_mine: { type: boolean, description: Whether the signed-in viewer wrote it. False for guests. }

    CommentThread:
      allOf:
        - $ref: '#/components/schemas/Comment'
        - type: object
          properties:
            replies: { type: array, items: { $ref: '#/components/schemas/Comment' } }

    Author:
      type: object
      nullable: true
      description: Only what attribution needs. No email address, ever.
      properties:
        username: { type: string }
        name: { type: string, description: 'Full name, falling back to the username.' }

    TaxonomyPage:
      type: object
      description: |
        An archive screen. The subject is under its own key - `genre`,
        `category`, `vj` or `person` - and its titles come back as two lists
        rather than one merged one, because the app renders them as separate
        rails and the two tables share no sort key.
      properties:
        genre: { $ref: '#/components/schemas/GenreCard' }
        category: { $ref: '#/components/schemas/CategoryCard' }
        vj: { $ref: '#/components/schemas/VjDetail' }
        person: { $ref: '#/components/schemas/PersonDetail' }
        movies: { type: array, items: { $ref: '#/components/schemas/MovieCard' } }
        series: { type: array, items: { $ref: '#/components/schemas/SeriesCard' } }

    CategoryCard:
      type: object
      properties:
        slug: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        cover_url: { type: string }
        visible_home: { type: boolean, description: Whether the admin put this category on the homepage. }

    VjDetail:
      allOf:
        - $ref: '#/components/schemas/VjCard'
        - type: object
          properties:
            description: { type: string, nullable: true }
            links:
              type: object
              description: Only the platforms this VJ actually has. Absent keys mean no account.
              properties:
                youtube: { type: string }
                tiktok: { type: string }
                facebook: { type: string }
                instagram: { type: string }
                website: { type: string }

    PersonDetail:
      allOf:
        - $ref: '#/components/schemas/PersonCard'
        - type: object
          properties:
            bio: { type: string, nullable: true }
            known_for: { type: string, nullable: true }

    HistoryEntry:
      type: object
      properties:
        item:
          oneOf:
            - $ref: '#/components/schemas/MovieCard'
            - $ref: '#/components/schemas/Episode'
        position_seconds: { type: integer }
        progress_percent: { type: integer }
        completed: { type: boolean }
        watched_at: { type: string, format: date-time, nullable: true }

    GenreCard:
      type: object
      description: kind = genres.
      properties:
        slug: { type: string }
        name: { type: string }
        colour: { type: string, nullable: true }
        movies_count: { type: integer, nullable: true }
        shows_count: { type: integer, nullable: true }

    VjCard:
      type: object
      description: kind = vjs.
      properties:
        slug: { type: string }
        name: { type: string }
        image_url: { type: string, description: Falls back through the VJ's most recent published title. }
        movies_count: { type: integer, nullable: true }
        shows_count: { type: integer, nullable: true }

    PersonCard:
      type: object
      description: kind = people.
      properties:
        slug: { type: string }
        name: { type: string }
        image_url: { type: string }

    MovieCard:
      type: object
      description: |
        No video URL appears in any catalogue response. A playable URL comes
        only from POST /playback/sessions, after the entitlement check.
      properties:
        type: { type: string, enum: [movie] }
        id: { type: integer }
        slug: { type: string }
        title: { type: string }
        year: { type: integer, nullable: true }
        runtime_minutes: { type: integer, nullable: true }
        rating: { type: number, nullable: true }
        poster_url: { type: string }
        tier_required:
          type: string
          nullable: true
          description: Plan slug this title needs, or null for free. Draw the lock badge from this.

    MovieDetail:
      allOf:
        - $ref: '#/components/schemas/MovieCard'
        - type: object
          properties:
            synopsis: { type: string, nullable: true }
            backdrop_url: { type: string }
            trailer_url: { type: string, nullable: true }
            published_at: { type: string, format: date-time, nullable: true }
            views_count: { type: integer }
            genres: { type: array, items: { $ref: '#/components/schemas/Taxonomy' } }
            categories: { type: array, items: { $ref: '#/components/schemas/Taxonomy' } }
            cast: { type: array, items: { $ref: '#/components/schemas/Person' } }

    SeriesCard:
      type: object
      properties:
        type: { type: string, enum: [series] }
        id: { type: integer }
        slug: { type: string }
        title: { type: string }
        year: { type: integer, nullable: true }
        rating: { type: number, nullable: true }
        poster_url: { type: string }
        tier_required:
          type: string
          nullable: true
          description: What this series' episodes inherit when they carry no plan of their own.

    SeriesDetail:
      allOf:
        - $ref: '#/components/schemas/SeriesCard'
        - type: object
          properties:
            synopsis: { type: string, nullable: true }
            backdrop_url: { type: string }
            trailer_url: { type: string, nullable: true }
            published_at: { type: string, format: date-time, nullable: true }
            views_count: { type: integer }
            genres: { type: array, items: { $ref: '#/components/schemas/Taxonomy' } }
            categories: { type: array, items: { $ref: '#/components/schemas/Taxonomy' } }
            cast: { type: array, items: { $ref: '#/components/schemas/Person' } }
            seasons: { type: array, items: { $ref: '#/components/schemas/Season' } }

    Season:
      type: object
      properties:
        id: { type: integer }
        number: { type: integer }
        title: { type: string, nullable: true }
        synopsis: { type: string, nullable: true }
        poster_url: { type: string }
        episodes: { type: array, items: { $ref: '#/components/schemas/Episode' } }

    Episode:
      type: object
      properties:
        type: { type: string, enum: [episode] }
        id: { type: integer }
        season_id: { type: integer }
        number: { type: integer }
        title: { type: string }
        synopsis: { type: string, nullable: true }
        runtime_minutes: { type: integer, nullable: true }
        still_url: { type: string }
        published_at: { type: string, format: date-time, nullable: true }
        tier_required:
          type: string
          nullable: true
          description: |
            The episode's OWN plan, usually null because the admin sets it on
            the series. Do NOT read null here as "free".
        effective_tier_required:
          type: string
          nullable: true
          description: The plan that actually governs playback, series inheritance applied. Draw the lock from this.

    Taxonomy:
      type: object
      properties:
        slug: { type: string }
        name: { type: string }

    Person:
      type: object
      properties:
        slug: { type: string }
        name: { type: string }
        photo_url: { type: string }

    MovieList:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/MovieCard' } }
        next_cursor: { type: string, nullable: true, description: null at the end of the list. }
        per_page: { type: integer }

    SeriesList:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/SeriesCard' } }
        next_cursor: { type: string, nullable: true }
        per_page: { type: integer }

    PlaybackSession:
      type: object
      properties:
        source: { type: string, enum: [file, embed] }
        url:
          type: string
          description: |
            Present when source is `file`. A token-signed CDN URL with a limited
            life. Hand it straight to the player; do not log it or put it in a
            WebView.
        embed_url: { type: string, description: Present when source is `embed`. }
        quality: { type: string, enum: [default, low] }
        available_qualities: { type: array, items: { type: string, enum: [default, low] } }
        resume_position: { type: integer, description: Seconds. 0 for a title already finished. }
        runtime_minutes: { type: integer, nullable: true }
        heartbeat_seconds:
          type: integer
          description: How often to call /playback/heartbeat. Server-controlled so it can be retuned without a Play release.
