openapi: 3.0.3

# The contract the Jambo mobile and TV app is written against.
#
# Hand-maintained, and kept honest by tests/Feature/Api/V1/OpenApiSpecTest.php,
# which fails when a route exists that this file does not describe. That test is
# the reason to edit this file in the same commit as an endpoint, not later:
# drift between a shipped APK and a live server cannot be hot-fixed the way a
# web page can.
#
# Two rules that apply everywhere and are not repeated per endpoint:
#   * Every response uses the envelope in components/schemas/Envelope*.
#   * Clients branch on `code`, never on `message`. Message text is reworded;
#     codes are a contract and only change with a new API version.

info:
  title: Jambo API
  version: 1.0.0
  description: |
    Catalogue, authentication, devices and playback for the Jambo Android and
    Android TV app. Introduced 2026-09-08 alongside
    `docs/plans/mobile-offline-app.md`.

    Download and offline endpoints are Phase 3 and are not described here yet.

servers:
  - url: https://jambofilms.com/api/v1
    description: production
  - url: http://localhost:8090/api/v1
    description: local

tags:
  - name: App
  - name: Auth
  - name: Devices
  - name: Catalogue
  - name: Playback
  - name: Viewer

security:
  - bearerAuth: []

paths:
  /app/config:
    get:
      tags: [App]
      summary: Client configuration and the server clock
      description: |
        Called unauthenticated on launch. `server_time` is the anchor the app
        uses for offline licence checks (ADR-0003): a wall clock earlier than
        the last known server time is treated as rollback.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/AppConfig'

  /auth/login:
    post:
      tags: [Auth]
      summary: Sign in and receive a device-bound token
      description: |
        Shares the website login's throttle bucket, keyed on email plus IP.
        When the account has two-factor enabled this returns 422
        `TWO_FACTOR_REQUIRED` with a `challenge_token`; no token is issued and
        no device row is created until the challenge is answered.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, device]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
                device: { $ref: '#/components/schemas/DeviceRegistration' }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Session'
        '401':
          description: INVALID_CREDENTIALS
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '403':
          description: ACCOUNT_DEACTIVATED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: VALIDATION_FAILED, or TWO_FACTOR_REQUIRED with a challenge_token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeError'
                  - properties:
                      challenge_token:
                        type: string
                        description: Present only for TWO_FACTOR_REQUIRED. Not an access token.
        '429':
          description: RATE_LIMITED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/2fa/challenge:
    post:
      tags: [Auth]
      summary: Complete a two-factor sign-in
      description: |
        Send either `code` (TOTP) or `recovery_code`. A wrong code does not
        consume the challenge, so a typo does not send the viewer back to the
        password screen; the challenge still expires on its own after 5 minutes.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge_token]
              properties:
                challenge_token: { type: string }
                code: { type: string, description: Six-digit TOTP }
                recovery_code: { type: string }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Session'
        '401':
          description: TWO_FACTOR_CHALLENGE_EXPIRED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: TWO_FACTOR_INVALID
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/register:
    post:
      tags: [Auth]
      summary: Create an account and sign in
      description: |
        Same validation, default role and Registered event as the website, so
        an account created here is indistinguishable from one created in a
        browser. The viewer is signed in immediately and a device row is
        created, exactly as the web form logs you in.

        The website's honeypot and reCAPTCHA do NOT apply: a native form has no
        DOM for a bot to fill and no browser token to produce. The route's
        throttle and the SignupAttempt log carry that weight instead.

        The account is usable before the email is verified; show a banner, not
        a wall, matching the site.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, username, email, password, password_confirmation, device]
              properties:
                first_name: { type: string, maxLength: 100 }
                last_name: { type: string, maxLength: 100 }
                username:
                  type: string
                  minLength: 3
                  maxLength: 50
                  pattern: '^[a-zA-Z0-9_.\-]+$'
                  description: |
                    Becomes the account's referral code and its profile URL
                    (/{username}), so reserved words are refused.
                email: { type: string, format: email }
                password: { type: string, format: password }
                password_confirmation: { type: string, format: password }
                device: { $ref: '#/components/schemas/DeviceRegistration' }
      responses:
        '201':
          description: Account created and signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/Session'
                          - type: object
                            properties:
                              email_verified: { type: boolean }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '429':
          description: RATE_LIMITED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/google:
    post:
      tags: [Auth]
      summary: Sign in with a Google ID token
      description: |
        The app obtains an ID token from Google's own sign-in SDK and sends it
        here; the server verifies it with Google, checks the audience matches
        this app's client id, and issues a Jambo device token.

        The audience check is the point: a valid Google token issued to another
        app is still a valid Google token.

        Google being unreachable answers INVALID_CREDENTIALS rather than
        allowing the sign-in. Two-factor still applies — Google proves the
        mailbox, not possession of the authenticator.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token, device]
              properties:
                id_token: { type: string, description: The ID token from Google Sign-In. }
                device: { $ref: '#/components/schemas/DeviceRegistration' }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/Session' }
        '401':
          description: INVALID_CREDENTIALS — unverifiable token, wrong audience, or no proven email
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '403':
          description: ACCOUNT_DEACTIVATED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: TWO_FACTOR_REQUIRED, with a challenge_token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeError'
                  - properties:
                      challenge_token: { type: string }

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request a password reset link
      description: |
        The response is identical whether or not the address has an account —
        echoing the real status would turn this into an account-enumeration
        oracle. The mail only goes out when the account is real. The link lands
        on the website.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: Always, whether or not the account exists
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Complete a password reset
      description: |
        Signs out every device on the account. A reset is usually someone
        recovering an account they believe was compromised, so leaving other
        sessions alive would defeat it.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, email, password, password_confirmation]
              properties:
                token: { type: string, description: From the emailed link. }
                email: { type: string, format: email }
                password: { type: string, format: password }
                password_confirmation: { type: string, format: password }
      responses:
        '200':
          description: Password reset
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED — expired or wrong token
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/password:
    put:
      tags: [Auth]
      summary: Change your password
      description: |
        Requires the current password: knowing it is what separates the account
        owner from someone holding a stolen handset.

        Signs out every OTHER device. The device making the change keeps
        working, so the viewer is not thrown out of the app they are in.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, password, password_confirmation]
              properties:
                current_password: { type: string, format: password }
                password: { type: string, format: password }
                password_confirmation: { type: string, format: password }
      responses:
        '200':
          description: Changed
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/email:
    get:
      tags: [Auth]
      summary: Is this account's email verified
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          email: { type: string }
                          verified: { type: boolean }

  /auth/email/resend:
    post:
      tags: [Auth]
      summary: Send the verification email again
      description: |
        Throttled below the read endpoints, because it sends mail. An
        already-verified account answers success without sending anything, so a
        retrying client cannot generate mail.
      responses:
        '200':
          description: Sent, or already verified
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          verified: { type: boolean }
        '429':
          description: RATE_LIMITED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Sign out this device only
      description: Deletes the calling token and marks its device revoked. Other devices are untouched.
      responses:
        '200':
          description: Signed out
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /me:
    get:
      tags: [Auth]
      summary: The signed-in viewer, their plan and their caps
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Me'
        '401':
          description: UNAUTHENTICATED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /profile:
    get:
      tags: [Viewer]
      summary: The profile screen
      description: '`GET /me` stays small for launch; this is the editable surface.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          profile: { $ref: '#/components/schemas/Profile' }
    patch:
      tags: [Viewer]
      summary: Edit the profile
      description: |
        Changing the account email requires `current_password` and clears the
        verified flag. Email is the account's recovery anchor: with a stolen
        token an attacker could swap it and then reset their way into a full
        takeover.

        Accounts created through Google have a random password, so those
        viewers set one via password reset before they can change their email —
        the same as on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, username, email]
              properties:
                first_name: { type: string, maxLength: 100 }
                last_name: { type: string, maxLength: 100 }
                username: { type: string, minLength: 3, maxLength: 50 }
                email: { type: string, format: email }
                phone: { type: string, maxLength: 32, nullable: true }
                current_password:
                  type: string
                  format: password
                  description: Required only when the email is changing.
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          profile: { $ref: '#/components/schemas/Profile' }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /profile/avatar:
    post:
      tags: [Viewer]
      summary: Replace the profile photo
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [avatar]
              properties:
                avatar: { type: string, format: binary, description: 'jpeg, png, webp or gif, up to 2 MB.' }
      responses:
        '200':
          description: Updated
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    delete:
      tags: [Viewer]
      summary: Remove the profile photo
      responses:
        '200':
          description: Removed
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /account/security:
    get:
      tags: [Viewer]
      summary: Two-factor state for this account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/SecurityState' }

  /account/2fa:
    post:
      tags: [Viewer]
      summary: Start two-factor setup
      description: |
        Mints a pending secret and recovery codes and returns them. Render the
        QR in the app from `secret`.

        **Two-factor is NOT on after this call.** It is on only once
        /account/2fa/confirm succeeds — a one-shot enable would let someone
        lock themselves out with a mis-scanned code.
      responses:
        '200':
          description: Setup started
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          secret: { type: string }
                          recovery_codes: { type: array, items: { type: string } }
    delete:
      tags: [Viewer]
      summary: Turn two-factor off
      description: Requires the password. Removing a second factor must cost more than holding an unlocked handset.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, format: password }
      responses:
        '200':
          description: Disabled
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /account/2fa/confirm:
    post:
      tags: [Viewer]
      summary: Finish two-factor setup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, minLength: 6, maxLength: 6 }
      responses:
        '200':
          description: Two-factor is on
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          recovery_codes: { type: array, items: { type: string } }
        '422':
          description: TWO_FACTOR_INVALID
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /account/2fa/recovery-codes:
    post:
      tags: [Viewer]
      summary: Generate a fresh batch of recovery codes
      description: The previous batch stops working immediately.
      responses:
        '200':
          description: New codes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          recovery_codes: { type: array, items: { type: string } }
        '422':
          description: VALIDATION_FAILED — two-factor is not on
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /account:
    delete:
      tags: [Viewer]
      summary: Deactivate this account
      description: |
        Costs the password and an explicit confirmation. Signs out every
        device: a deactivated account is one sign-in refuses, so leaving live
        tokens would let the app keep watching until somebody noticed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password, confirm]
              properties:
                password: { type: string, format: password }
                confirm: { type: boolean, description: Must be true. }
      responses:
        '200':
          description: Deactivated
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /devices:
    get:
      tags: [Devices]
      summary: App installs signed into this account
      description: |
        Browser sessions AND app installs, most recent first. Either list
        alone is half the account: a viewer who hits their stream cap because
        of a laptop at home needs to free that slot from their phone.

        Revoked devices are omitted, and a browser session idle past the
        session lifetime is not listed.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          devices:
                            type: array
                            items: { $ref: '#/components/schemas/Device' }
                          counts_app_devices:
                            type: boolean
                            description: |
                              Whether app installs currently count against the
                              concurrent-device cap. Ships false; browser
                              sessions always count.

  /devices/{uuid}:
    delete:
      tags: [Devices]
      summary: Sign a device out
      description: |
        Deletes that device's token and stops whatever it was playing counting
        against the concurrent-stream cap. A uuid on another account answers
        DEVICE_NOT_FOUND rather than 403, so the endpoint cannot be used to
        discover that a device exists elsewhere.
      parameters:
        - name: uuid
          in: path
          required: true
          description: A device uuid or a browser session id — either is accepted.
          schema: { type: string, pattern: '^[A-Za-z0-9\-_]{8,64}$' }
      responses:
        '200':
          description: Device signed out
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '404':
          description: DEVICE_NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /home:
    get:
      tags: [Catalogue]
      summary: The home screen
      description: |
        Calls the same HomeRailsService the website's view composer calls, so
        the rails, their order and the rules that pick them are the website's.
        Section headings come from the same `sectionTitle` translation keys the
        blades render.

        Public, but personalising: send a bearer token and Continue Watching
        appears and the personalised rails become personal. Without one the
        response is the guest home screen rather than an error.

        `rails` is an ordered list, not a fixed object, so a rail added
        server-side needs no app release. Empty rails are omitted entirely.
        Render by `kind`, not by `key`.
      security:
        - {}
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Home'

  /movies:
    get:
      tags: [Catalogue]
      summary: Published movies, newest first
      security: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: per_page, in: query, schema: { type: integer, default: 24, maximum: 60 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/MovieList'

  /movies/{slug}:
    get:
      tags: [Catalogue]
      summary: One movie
      description: |
        Reachable for published and upcoming titles. `is_released` says whether
        it can be watched yet, which is not the same as whether this viewer may
        watch it — that is answered by POST /playback/sessions.
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          movie: { $ref: '#/components/schemas/MovieDetail' }
                          is_released: { type: boolean }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /series:
    get:
      tags: [Catalogue]
      summary: Published series, newest first
      security: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: per_page, in: query, schema: { type: integer, default: 24, maximum: 60 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/SeriesList'

  /series/{slug}:
    get:
      tags: [Catalogue]
      summary: One series with its seasons and episodes
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          series: { $ref: '#/components/schemas/SeriesDetail' }
                          is_released: { type: boolean }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /episodes/{id}:
    get:
      tags: [Catalogue]
      summary: One episode and the series it belongs to
      security: []
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          episode: { $ref: '#/components/schemas/Episode' }
                          series: { $ref: '#/components/schemas/SeriesCard' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /search:
    get:
      tags: [Catalogue]
      summary: Search movies and series by title
      description: Fewer than two characters returns empty lists rather than an error.
      security: []
      parameters:
        - { name: q, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          query: { type: string }
                          movies: { type: array, items: { $ref: '#/components/schemas/MovieCard' } }
                          series: { type: array, items: { $ref: '#/components/schemas/SeriesCard' } }

  /genres:
    get:
      tags: [Catalogue]
      summary: Every genre, with how much published content each has
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          genres: { type: array, items: { $ref: '#/components/schemas/GenreCard' } }

  /genres/{slug}:
    get:
      tags: [Catalogue]
      summary: One genre and its published titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /categories:
    get:
      tags: [Catalogue]
      summary: Every category
      description: '`visible_home` marks the ones the admin put on the homepage.'
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          categories: { type: array, items: { $ref: '#/components/schemas/CategoryCard' } }

  /categories/{slug}:
    get:
      tags: [Catalogue]
      summary: One category and its published titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /vjs:
    get:
      tags: [Catalogue]
      summary: VJs with published work
      description: |
        A VJ is the narrator who voices a title — Jambo's own concept, not part
        of the Streamit template. VJs whose entire catalogue is still draft are
        not listed.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          vjs: { type: array, items: { $ref: '#/components/schemas/VjCard' } }

  /vjs/{slug}:
    get:
      tags: [Catalogue]
      summary: One VJ, their links and their titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /cast/{slug}:
    get:
      tags: [Catalogue]
      summary: One cast member and their titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /{type}/{slug}/reviews:
    parameters:
      - { name: type, in: path, required: true, schema: { type: string, enum: [movies, series] } }
      - { name: slug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Viewer]
      summary: The review thread for a title
      description: |
        Published reviews, newest first, plus the aggregate shown beside the
        stars and this viewer's own review — so a detail screen needs one
        request rather than three.

        Public, but send a bearer token to get `mine` populated.
      security:
        - {}
        - bearerAuth: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/ReviewThread' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    post:
      tags: [Viewer]
      summary: Write or replace your review
      description: |
        One review per viewer per title. Posting again edits the existing one
        rather than adding a second, which also makes this safe to retry.
        Only a genuinely new review notifies an admin; an edit does not.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stars, body]
              properties:
                stars: { type: integer, minimum: 1, maximum: 5 }
                title: { type: string, maxLength: 200, nullable: true }
                body: { type: string, minLength: 3, maxLength: 4000 }
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          review: { $ref: '#/components/schemas/Review' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    delete:
      tags: [Viewer]
      summary: Remove your review
      description: Idempotent — removing one that is not there is a success.
      responses:
        '200':
          description: Removed
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /episodes/{id}/comments:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
    get:
      tags: [Viewer]
      summary: The comment thread under an episode
      description: |
        Approved top-level comments, newest first, each with its replies
        nested. Public, but send a bearer token to get `is_mine` populated.
      security:
        - {}
        - bearerAuth: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items: { type: array, items: { $ref: '#/components/schemas/CommentThread' } }
                          next_cursor: { type: string, nullable: true }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    post:
      tags: [Viewer]
      summary: Post a comment or a reply
      description: A `parent_id` must belong to the same episode, or the reply is refused.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, minLength: 2, maxLength: 2000 }
                parent_id: { type: integer, nullable: true, description: The comment being replied to. }
      responses:
        '201':
          description: Posted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          comment: { $ref: '#/components/schemas/Comment' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /comments/{id}:
    delete:
      tags: [Viewer]
      summary: Delete your own comment
      description: |
        Admins may delete any. Somebody else's comment answers NOT_FOUND
        rather than 403, so the endpoint cannot be used to confirm a comment
        exists.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Removed
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /notifications:
    get:
      tags: [Viewer]
      summary: The viewer's notifications
      description: |
        **This is the fallback that makes push safe.** Push is an accelerator,
        never the transport — an OEM battery manager kills processes, tokens go
        stale, handsets sit offline for a day. Everything a push says is
        readable here, and the app must be usable with push switched off
        entirely.

        Carries `unread_count`, so a badge costs one request rather than two.
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          unread_count: { type: integer }
                          items: { type: array, items: { $ref: '#/components/schemas/Notification' } }
                          next_cursor: { type: string, nullable: true }
    delete:
      tags: [Viewer]
      summary: Clear every notification
      responses:
        '200':
          description: Cleared
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /notifications/read-all:
    post:
      tags: [Viewer]
      summary: Mark everything read
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /notifications/{id}/read:
    post:
      tags: [Viewer]
      summary: Mark one read
      description: Idempotent — an already-read notification is a success.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /notifications/{id}:
    delete:
      tags: [Viewer]
      summary: Delete one
      description: Idempotent — deleting one already gone is a success, so a retry cannot fail.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /notifications/preferences:
    get:
      tags: [Viewer]
      summary: Per-category notification preferences
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          preferences: { type: array, items: { $ref: '#/components/schemas/NotificationPreference' } }
    put:
      tags: [Viewer]
      summary: Set preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [preferences]
              properties:
                preferences:
                  type: array
                  items: { $ref: '#/components/schemas/NotificationPreference' }
      responses:
        '200':
          description: Saved, and the full set returned
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /notifications/push-token:
    post:
      tags: [Viewer]
      summary: Register this install's FCM token
      description: |
        The token is stored against the device row, which means **signing out
        deletes it** — a shared handset must never keep the previous account's
        token and deliver their notifications to whoever is holding the phone.
        Booting the device from elsewhere clears it too.

        A token can belong to only one install: registering one already held
        elsewhere moves it. Android reissues the same token to a reinstall, and
        two rows holding it would mean one push delivered twice.

        `push_enabled` is this handset's own switch, separate from the
        per-category preferences.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, maxLength: 512 }
                push_enabled: { type: boolean, nullable: true }
      responses:
        '200':
          description: Registered
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          registered: { type: boolean }
                          push_enabled: { type: boolean }
        '404':
          description: DEVICE_NOT_FOUND — this session has no device row to attach a token to
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    delete:
      tags: [Viewer]
      summary: Stop pushing to this install
      description: Signing out does this too. This is for the viewer who wants the app but not the notifications.
      responses:
        '200':
          description: Unregistered
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /watchlist:
    get:
      tags: [Viewer]
      summary: The viewer's watchlist
      description: Rows whose title has since been deleted are dropped rather than returned as nulls.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              oneOf:
                                - $ref: '#/components/schemas/MovieCard'
                                - $ref: '#/components/schemas/SeriesCard'
                                - $ref: '#/components/schemas/Episode'
    post:
      tags: [Viewer]
      summary: Add a title to the watchlist
      description: |
        Idempotent — adding something already on the list succeeds and changes
        nothing, so a retry after a dropped connection is safe. This is
        deliberately not the website's toggle endpoint: a retried toggle
        silently undoes itself.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, id]
              properties:
                type: { type: string, enum: [movie, show, episode] }
                id: { type: integer }
      responses:
        '200':
          description: On the list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          in_list: { type: boolean }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /watchlist/{type}/{id}:
    delete:
      tags: [Viewer]
      summary: Remove a title from the watchlist
      description: Idempotent — removing something that is not on the list is a success, not a 404.
      parameters:
        - { name: type, in: path, required: true, schema: { type: string, enum: [movie, show, episode] } }
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Not on the list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          in_list: { type: boolean }

  /continue-watching:
    get:
      tags: [Viewer]
      summary: Continue Watching as its own screen
      description: |
        The same cards the home screen's `continue_watching` rail carries, from
        the same service, so the two cannot disagree about where the viewer
        stopped. Finished titles are excluded; see /history for those.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items: { $ref: '#/components/schemas/ContinueWatchingCard' }

  /history:
    get:
      tags: [Viewer]
      summary: Everything watched, newest first
      description: A record rather than a to-do list, so unlike Continue Watching it keeps finished titles.
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items: { $ref: '#/components/schemas/HistoryEntry' }
                          next_cursor: { type: string, nullable: true }

  /search/suggest:
    get:
      tags: [Catalogue]
      summary: Type-ahead suggestions
      description: |
        Deliberately thinner and shorter than /search — five of each and only
        the fields a dropdown row draws, because a viewer sends this on every
        keystroke over a mobile connection. Fewer than two characters returns
        an empty list rather than an error.
      security: []
      parameters:
        - { name: q, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          query: { type: string }
                          suggestions: { type: array, items: { $ref: '#/components/schemas/Suggestion' } }

  /tags:
    get:
      tags: [Catalogue]
      summary: Every tag
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          tags: { type: array, items: { $ref: '#/components/schemas/GenreCard' } }

  /tags/{slug}:
    get:
      tags: [Catalogue]
      summary: One tag and its published titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /cast:
    get:
      tags: [Catalogue]
      summary: Everyone with published work
      description: Ordered by how much of the catalogue they appear in, which is what makes the grid useful.
      security: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items: { type: array, items: { $ref: '#/components/schemas/PersonCard' } }
                          next_cursor: { type: string, nullable: true }

  /collections:
    get:
      tags: [Catalogue]
      summary: Which "see all" collections exist
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          collections:
                            type: array
                            items:
                              type: object
                              properties:
                                key: { type: string }
                                title: { type: string }
                                type: { type: string, enum: [movie, show] }

  /collections/{rail}:
    get:
      tags: [Catalogue]
      summary: The full list behind a home rail
      description: |
        The same catalog the website's /collection/{rail} page uses, so the
        app's "see all" and the site's cannot diverge.

        Personalised rails (top-picks, smart-shuffle, fresh-picks) pin the
        viewer's own recommendations to the front, so send a bearer token to
        get a personal ordering.
      security:
        - {}
        - bearerAuth: []
      parameters:
        - { name: rail, in: path, required: true, schema: { type: string } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: per_page, in: query, schema: { type: integer, default: 24, maximum: 60 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          key: { type: string }
                          title: { type: string }
                          items:
                            type: array
                            items:
                              oneOf:
                                - $ref: '#/components/schemas/MovieCard'
                                - $ref: '#/components/schemas/SeriesCard'
                          next_cursor: { type: string, nullable: true }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /pages:
    get:
      tags: [App]
      summary: The CMS pages
      description: |
        About, FAQ, Privacy, Terms. Generic on purpose: adding a page in the
        admin makes it available to the app with no release, and Google Play
        requires a subscription app to show its terms and privacy policy.

        Structural rows the website assembles into chrome (the footer, anything
        flagged system) are excluded from this list but remain fetchable by
        slug.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          pages:
                            type: array
                            items:
                              type: object
                              properties:
                                slug: { type: string }
                                title: { type: string }
                                summary: { type: string, nullable: true }

  /pages/{slug}:
    get:
      tags: [App]
      summary: One CMS page
      description: '`content` is admin-authored HTML, the same string the website renders.'
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          page:
                            type: object
                            properties:
                              slug: { type: string }
                              title: { type: string }
                              content: { type: string, description: Admin-authored HTML. }
                              summary: { type: string, nullable: true }
                              image_url: { type: string }
                              updated_at: { type: string, format: date-time, nullable: true }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /playback/sessions:
    post:
      tags: [Playback]
      summary: Authorize playback and get a URL
      description: |
        Runs the same entitlement rules as the website (PlaybackAuthorizer):
        release state, the site-wide sign-up switch, the plan level with an
        episode inheriting its series' plan, the admin bypass, and the
        concurrent-stream cap keyed on this device's uuid.

        `source` is `file` for titles Jambo hosts and `embed` for YouTube-backed
        ones, which cannot be downloaded and must be opened in an embed.

        A `low` request for a title with no data-saver rendition is refused
        rather than silently served at full size.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, id]
              properties:
                type: { type: string, enum: [movie, episode] }
                id: { type: integer }
                quality: { type: string, enum: [default, low], default: default }
      responses:
        '200':
          description: Authorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/PlaybackSession'
        '401':
          description: UNAUTHENTICATED or LOGIN_REQUIRED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '403':
          description: SUBSCRIPTION_REQUIRED or UPGRADE_REQUIRED, with `required_tier`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeError'
                  - properties:
                      required_tier: { $ref: '#/components/schemas/Tier' }
        '404':
          description: NOT_FOUND, or CONTENT_UNAVAILABLE for an unreleased title or a missing rendition
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '409':
          description: STREAM_LIMIT — entitled, but already watching on as many devices as the plan allows
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /playback/heartbeat:
    post:
      tags: [Playback]
      summary: Report playback position
      description: |
        Send every `heartbeat_seconds` while playing. Records the resume
        position, refreshes the live-stream signal the cap reads, and raises the
        event partner earnings accrue from — the same recorder the website uses.

        A 409 means this device was booted from the account mid-stream: stop
        playing and sign out.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, id, position]
              properties:
                type: { type: string, enum: [movie, episode] }
                id: { type: integer }
                position: { type: integer, minimum: 0, description: Seconds into the title }
                duration: { type: integer, minimum: 1, description: 'Player-reported runtime, when known' }
      responses:
        '200':
          description: Recorded
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          position: { type: integer }
                          completed: { type: boolean }
        '409':
          description: DEVICE_REVOKED — this device was signed out mid-stream
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: A Sanctum personal access token from /auth/login, bound to one device.

  schemas:
    EnvelopeOk:
      type: object
      required: [success, message, data]
      properties:
        success: { type: boolean, enum: [true] }
        message: { type: string }
        data: { type: object }

    EnvelopeError:
      type: object
      required: [success, code, message, errors]
      properties:
        success: { type: boolean, enum: [false] }
        code:
          type: string
          description: Branch on this, never on `message`.
          enum:
            - UNAUTHENTICATED
            - INVALID_CREDENTIALS
            - ACCOUNT_DEACTIVATED
            - TWO_FACTOR_REQUIRED
            - TWO_FACTOR_INVALID
            - TWO_FACTOR_CHALLENGE_EXPIRED
            - DEVICE_REVOKED
            - DEVICE_NOT_FOUND
            - LOGIN_REQUIRED
            - SUBSCRIPTION_REQUIRED
            - UPGRADE_REQUIRED
            - STREAM_LIMIT
            - CONTENT_UNAVAILABLE
            - VALIDATION_FAILED
            - NOT_FOUND
            - FORBIDDEN
            - RATE_LIMITED
            - APP_UPDATE_REQUIRED
            - SERVER_ERROR
        message: { type: string }
        errors:
          type: object
          description: Field-keyed validation messages; empty object when not a validation failure.

    AppConfig:
      type: object
      properties:
        min_app_version: { type: string, example: '1.0.0' }
        server_time: { type: string, format: date-time }
        features:
          type: object
          properties:
            downloads: { type: boolean }
            in_app_subscribe: { type: boolean }
        support:
          type: object
          properties:
            site_url: { type: string }

    DeviceRegistration:
      type: object
      required: [uuid, platform]
      description: Generated by the app at first launch. The uuid is also this device's streaming session key.
      properties:
        uuid: { type: string, minLength: 8, maxLength: 64 }
        platform: { type: string, enum: [android, android_tv] }
        name: { type: string, maxLength: 120 }
        model: { type: string, maxLength: 120 }
        app_version: { type: string, maxLength: 32 }

    Profile:
      type: object
      properties:
        id: { type: integer }
        first_name: { type: string }
        last_name: { type: string }
        username:
          type: string
          description: Also the account's referral code and its profile URL.
        email: { type: string }
        phone: { type: string, nullable: true }
        email_verified: { type: boolean }
        avatar_url: { type: string, nullable: true }
        joined_at: { type: string, format: date-time, nullable: true }

    SecurityState:
      type: object
      properties:
        two_factor:
          type: object
          properties:
            enabled: { type: boolean }
            pending:
              type: boolean
              description: A secret exists but no code has confirmed it yet.
            secret:
              type: string
              nullable: true
              description: Only while pending or enabled. Render the QR from this.
            recovery_codes: { type: array, items: { type: string } }
        google_enabled: { type: boolean, description: Whether this server has Google sign-in configured. }
        email_verified: { type: boolean }

    Device:
      type: object
      description: |
        One thing signed into the account. `kind` says which: an app install or
        a browser session. `id` is the device uuid for an app and the session
        id for a browser — one field, because DELETE /devices/{id} takes
        either.
      properties:
        id: { type: string }
        kind: { type: string, enum: [app, browser] }
        name: { type: string, nullable: true, description: 'For a browser, the parsed user agent.' }
        model: { type: string, nullable: true, description: App installs only. }
        platform: { type: string, nullable: true, enum: [android, android_tv, null] }
        app_version: { type: string, nullable: true, description: App installs only. }
        ip_address: { type: string, nullable: true, description: Browser sessions only. }
        last_seen_at: { type: string, format: date-time, nullable: true }
        is_current: { type: boolean }

    Session:
      type: object
      properties:
        token: { type: string, description: Bearer token. Store securely; it does not expire on a timer. }
        device:
          type: object
          properties:
            uuid: { type: string }
            platform: { type: string }
            name: { type: string, nullable: true }
        user:
          type: object
          properties:
            id: { type: integer }
            username: { type: string }
            email: { type: string }

    Tier:
      type: object
      properties:
        name: { type: string }
        slug: { type: string }
        access_level: { type: integer }

    Me:
      type: object
      properties:
        user:
          type: object
          properties:
            id: { type: integer }
            first_name: { type: string }
            last_name: { type: string }
            username: { type: string }
            email: { type: string }
            is_admin: { type: boolean }
        subscription:
          type: object
          nullable: true
          properties:
            tier: { $ref: '#/components/schemas/Tier' }
            starts_at: { type: string, format: date-time, nullable: true }
            ends_at: { type: string, format: date-time, nullable: true }
        limits:
          type: object
          properties:
            max_concurrent_streams:
              type: integer
              nullable: true
              description: null means the plan sets no cap. Render "unlimited", not "none".
        server_time: { type: string, format: date-time }

    Home:
      type: object
      properties:
        hero:
          type: array
          description: Curated at /admin/featured, falling back to an automatic mix. Movies and series interleaved.
          items:
            oneOf:
              - $ref: '#/components/schemas/MovieCard'
              - $ref: '#/components/schemas/SeriesCard'
        rails:
          type: array
          items: { $ref: '#/components/schemas/Rail' }
        server_time: { type: string, format: date-time }

    Rail:
      type: object
      properties:
        key:
          type: string
          description: |
            Stable identifier. Category shelves are `category:<slug>`, so this
            set is open-ended - never switch on it exhaustively.
          example: top_movies
        title:
          type: string
          description: Already translated, and the same string the website renders.
        kind:
          type: string
          description: Which card component to render. Treat an unknown kind as a rail to skip.
          enum: [titles, progress, genres, vjs, people]
        items:
          type: array
          description: Shape depends on `kind`. Never empty - an empty rail is omitted.
          items:
            oneOf:
              - $ref: '#/components/schemas/MovieCard'
              - $ref: '#/components/schemas/SeriesCard'
              - $ref: '#/components/schemas/ContinueWatchingCard'
              - $ref: '#/components/schemas/GenreCard'
              - $ref: '#/components/schemas/VjCard'
              - $ref: '#/components/schemas/PersonCard'

    ContinueWatchingCard:
      type: object
      description: kind = progress.
      properties:
        title: { type: string }
        subtitle: { type: string, description: 'For a series, S01E02 and the episode title.' }
        image_url: { type: string }
        progress_percent: { type: integer }
        minutes_left: { type: integer }
        position_seconds: { type: integer }
        resume:
          type: object
          description: |
            What to play. For a series this is the EPISODE, not the show -
            deliberately different from `remove` below.
          properties:
            type: { type: string, enum: [movie, episode] }
            id: { type: integer }
        remove:
          type: object
          description: |
            What to forget. For a series this is the SHOW: the rail dedupes by
            show, so removing one episode would let the card re-surface.
          properties:
            type: { type: string, enum: [movie, show] }
            id: { type: integer }

    ReviewThread:
      type: object
      properties:
        stats:
          type: object
          properties:
            count: { type: integer }
            average:
              type: number
              description: |
                Rounded to one decimal, matching the website's star display.
                JSON drops a zero fraction, so a whole average arrives as 4
                rather than 4.0 - parse as a float.
        mine:
          allOf: [{ $ref: '#/components/schemas/Review' }]
          nullable: true
          description: This viewer's own review, or null. Requires a bearer token.
        items: { type: array, items: { $ref: '#/components/schemas/Review' } }
        next_cursor: { type: string, nullable: true }

    Review:
      type: object
      properties:
        id: { type: integer }
        stars: { type: integer, minimum: 1, maximum: 5 }
        title: { type: string, nullable: true }
        body: { type: string }
        created_at: { type: string, format: date-time, nullable: true }
        updated_at: { type: string, format: date-time, nullable: true }
        author: { $ref: '#/components/schemas/Author' }

    Comment:
      type: object
      properties:
        id: { type: integer }
        body: { type: string }
        created_at: { type: string, format: date-time, nullable: true }
        author: { $ref: '#/components/schemas/Author' }
        is_mine: { type: boolean, description: Whether the signed-in viewer wrote it. False for guests. }

    CommentThread:
      allOf:
        - $ref: '#/components/schemas/Comment'
        - type: object
          properties:
            replies: { type: array, items: { $ref: '#/components/schemas/Comment' } }

    Notification:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        message: { type: string }
        icon: { type: string }
        image_url: { type: string, nullable: true }
        action_url: { type: string, nullable: true }
        read: { type: boolean }
        created_at: { type: string, format: date-time, nullable: true }

    NotificationPreference:
      type: object
      properties:
        key: { type: string, maxLength: 100 }
        in_app: { type: boolean }
        email: { type: boolean }
        push: { type: boolean }

    Author:
      type: object
      nullable: true
      description: Only what attribution needs. No email address, ever.
      properties:
        username: { type: string }
        name: { type: string, description: 'Full name, falling back to the username.' }

    Suggestion:
      type: object
      properties:
        type: { type: string, enum: [movie, series] }
        slug: { type: string }
        title: { type: string }
        year: { type: integer, nullable: true }
        poster_url: { type: string }

    TaxonomyPage:
      type: object
      description: |
        An archive screen. The subject is under its own key - `genre`,
        `category`, `vj` or `person` - and its titles come back as two lists
        rather than one merged one, because the app renders them as separate
        rails and the two tables share no sort key.
      properties:
        genre: { $ref: '#/components/schemas/GenreCard' }
        category: { $ref: '#/components/schemas/CategoryCard' }
        vj: { $ref: '#/components/schemas/VjDetail' }
        tag: { $ref: '#/components/schemas/GenreCard' }
        person: { $ref: '#/components/schemas/PersonDetail' }
        movies: { type: array, items: { $ref: '#/components/schemas/MovieCard' } }
        series: { type: array, items: { $ref: '#/components/schemas/SeriesCard' } }

    CategoryCard:
      type: object
      properties:
        slug: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        cover_url: { type: string }
        visible_home: { type: boolean, description: Whether the admin put this category on the homepage. }

    VjDetail:
      allOf:
        - $ref: '#/components/schemas/VjCard'
        - type: object
          properties:
            description: { type: string, nullable: true }
            links:
              type: object
              description: Only the platforms this VJ actually has. Absent keys mean no account.
              properties:
                youtube: { type: string }
                tiktok: { type: string }
                facebook: { type: string }
                instagram: { type: string }
                website: { type: string }

    PersonDetail:
      allOf:
        - $ref: '#/components/schemas/PersonCard'
        - type: object
          properties:
            bio: { type: string, nullable: true }
            known_for: { type: string, nullable: true }

    HistoryEntry:
      type: object
      properties:
        item:
          oneOf:
            - $ref: '#/components/schemas/MovieCard'
            - $ref: '#/components/schemas/Episode'
        position_seconds: { type: integer }
        progress_percent: { type: integer }
        completed: { type: boolean }
        watched_at: { type: string, format: date-time, nullable: true }

    GenreCard:
      type: object
      description: kind = genres.
      properties:
        slug: { type: string }
        name: { type: string }
        colour: { type: string, nullable: true }
        movies_count: { type: integer, nullable: true }
        shows_count: { type: integer, nullable: true }

    VjCard:
      type: object
      description: kind = vjs.
      properties:
        slug: { type: string }
        name: { type: string }
        image_url: { type: string, description: Falls back through the VJ's most recent published title. }
        movies_count: { type: integer, nullable: true }
        shows_count: { type: integer, nullable: true }

    PersonCard:
      type: object
      description: kind = people.
      properties:
        slug: { type: string }
        name: { type: string }
        image_url: { type: string }

    MovieCard:
      type: object
      description: |
        No video URL appears in any catalogue response. A playable URL comes
        only from POST /playback/sessions, after the entitlement check.
      properties:
        type: { type: string, enum: [movie] }
        id: { type: integer }
        slug: { type: string }
        title: { type: string }
        year: { type: integer, nullable: true }
        runtime_minutes: { type: integer, nullable: true }
        rating: { type: number, nullable: true }
        poster_url: { type: string }
        tier_required:
          type: string
          nullable: true
          description: Plan slug this title needs, or null for free. Draw the lock badge from this.

    MovieDetail:
      allOf:
        - $ref: '#/components/schemas/MovieCard'
        - type: object
          properties:
            synopsis: { type: string, nullable: true }
            backdrop_url: { type: string }
            trailer_url: { type: string, nullable: true }
            published_at: { type: string, format: date-time, nullable: true }
            views_count: { type: integer }
            genres: { type: array, items: { $ref: '#/components/schemas/Taxonomy' } }
            categories: { type: array, items: { $ref: '#/components/schemas/Taxonomy' } }
            cast: { type: array, items: { $ref: '#/components/schemas/Person' } }

    SeriesCard:
      type: object
      properties:
        type: { type: string, enum: [series] }
        id: { type: integer }
        slug: { type: string }
        title: { type: string }
        year: { type: integer, nullable: true }
        rating: { type: number, nullable: true }
        poster_url: { type: string }
        tier_required:
          type: string
          nullable: true
          description: What this series' episodes inherit when they carry no plan of their own.

    SeriesDetail:
      allOf:
        - $ref: '#/components/schemas/SeriesCard'
        - type: object
          properties:
            synopsis: { type: string, nullable: true }
            backdrop_url: { type: string }
            trailer_url: { type: string, nullable: true }
            published_at: { type: string, format: date-time, nullable: true }
            views_count: { type: integer }
            genres: { type: array, items: { $ref: '#/components/schemas/Taxonomy' } }
            categories: { type: array, items: { $ref: '#/components/schemas/Taxonomy' } }
            cast: { type: array, items: { $ref: '#/components/schemas/Person' } }
            seasons: { type: array, items: { $ref: '#/components/schemas/Season' } }

    Season:
      type: object
      properties:
        id: { type: integer }
        number: { type: integer }
        title: { type: string, nullable: true }
        synopsis: { type: string, nullable: true }
        poster_url: { type: string }
        episodes: { type: array, items: { $ref: '#/components/schemas/Episode' } }

    Episode:
      type: object
      properties:
        type: { type: string, enum: [episode] }
        id: { type: integer }
        season_id: { type: integer }
        number: { type: integer }
        title: { type: string }
        synopsis: { type: string, nullable: true }
        runtime_minutes: { type: integer, nullable: true }
        still_url: { type: string }
        published_at: { type: string, format: date-time, nullable: true }
        tier_required:
          type: string
          nullable: true
          description: |
            The episode's OWN plan, usually null because the admin sets it on
            the series. Do NOT read null here as "free".
        effective_tier_required:
          type: string
          nullable: true
          description: The plan that actually governs playback, series inheritance applied. Draw the lock from this.

    Taxonomy:
      type: object
      properties:
        slug: { type: string }
        name: { type: string }

    Person:
      type: object
      properties:
        slug: { type: string }
        name: { type: string }
        photo_url: { type: string }

    MovieList:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/MovieCard' } }
        next_cursor: { type: string, nullable: true, description: null at the end of the list. }
        per_page: { type: integer }

    SeriesList:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/SeriesCard' } }
        next_cursor: { type: string, nullable: true }
        per_page: { type: integer }

    PlaybackSession:
      type: object
      properties:
        source: { type: string, enum: [file, embed] }
        url:
          type: string
          description: |
            Present when source is `file`. A token-signed CDN URL with a limited
            life. Hand it straight to the player; do not log it or put it in a
            WebView.
        embed_url: { type: string, description: Present when source is `embed`. }
        quality: { type: string, enum: [default, low] }
        available_qualities: { type: array, items: { type: string, enum: [default, low] } }
        resume_position: { type: integer, description: Seconds. 0 for a title already finished. }
        runtime_minutes: { type: integer, nullable: true }
        heartbeat_seconds:
          type: integer
          description: How often to call /playback/heartbeat. Server-controlled so it can be retuned without a Play release.
