openapi: 3.0.3

# The contract the Jambo mobile and TV app is written against.
#
# Hand-maintained, and kept honest by tests/Feature/Api/V1/OpenApiSpecTest.php,
# which fails when a route exists that this file does not describe. That test is
# the reason to edit this file in the same commit as an endpoint, not later:
# drift between a shipped APK and a live server cannot be hot-fixed the way a
# web page can.
#
# Three rules that apply everywhere and are not repeated per endpoint:
#   * Every response uses the envelope in components/schemas/Envelope*.
#   * Clients branch on `code`, never on `message`. Message text is reworded;
#     codes are a contract and only change with a new API version.
#   * Send `X-Device-Id: <the device uuid>` on EVERY request, signed in or not.
#     Rate limits key on it before the address; without it a guest shares one
#     bucket with every other handset behind the same carrier NAT.

info:
  title: Jambo API
  version: 1.0.0
  description: |
    Catalogue, authentication, devices and playback for the Jambo Android and
    Android TV app. Introduced 2026-09-08 alongside
    `docs/plans/mobile-offline-app.md`.

    Download and offline endpoints are Phase 3 and are not described here yet.

servers:
  - url: https://jambofilms.com/api/v1
    description: production
  - url: http://localhost:8090/api/v1
    description: local

tags:
  - name: App
  - name: Auth
  - name: Devices
  - name: Catalogue
  - name: Playback
  - name: Viewer

security:
  - bearerAuth: []

paths:
  /app/config:
    get:
      tags: [App]
      summary: Client configuration and the server clock
      description: |
        Called unauthenticated on launch. `server_time` is the anchor the app
        uses for offline licence checks (ADR-0003): a wall clock earlier than
        the last known server time is treated as rollback.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/AppConfig'

  /auth/login:
    post:
      tags: [Auth]
      summary: Sign in and receive a device-bound token
      description: |
        Shares the website login's throttle bucket, keyed on email plus IP.
        When the account has two-factor enabled this returns 422
        `TWO_FACTOR_REQUIRED` with a `challenge_token`; no token is issued and
        no device row is created until the challenge is answered.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, device]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
                device: { $ref: '#/components/schemas/DeviceRegistration' }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Session'
        '401':
          description: INVALID_CREDENTIALS
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '403':
          description: ACCOUNT_DEACTIVATED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: VALIDATION_FAILED, or TWO_FACTOR_REQUIRED with a challenge_token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeError'
                  - properties:
                      challenge_token:
                        type: string
                        description: Present only for TWO_FACTOR_REQUIRED. Not an access token.
        '429':
          description: RATE_LIMITED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/2fa/challenge:
    post:
      tags: [Auth]
      summary: Complete a two-factor sign-in
      description: |
        Send either `code` (TOTP) or `recovery_code`. A wrong code does not
        consume the challenge, so a typo does not send the viewer back to the
        password screen; the challenge still expires on its own after 5 minutes.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge_token]
              properties:
                challenge_token: { type: string }
                code: { type: string, description: Six-digit TOTP }
                recovery_code: { type: string }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Session'
        '401':
          description: TWO_FACTOR_CHALLENGE_EXPIRED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: TWO_FACTOR_INVALID
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/register:
    post:
      tags: [Auth]
      summary: Create an account and sign in
      description: |
        Same validation, default role and Registered event as the website, so
        an account created here is indistinguishable from one created in a
        browser. The viewer is signed in immediately and a device row is
        created, exactly as the web form logs you in.

        The website's honeypot and reCAPTCHA do NOT apply: a native form has no
        DOM for a bot to fill and no browser token to produce. The route's
        throttle and the SignupAttempt log carry that weight instead.

        The account is usable before the email is verified; show a banner, not
        a wall, matching the site.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, username, email, password, password_confirmation, device]
              properties:
                first_name: { type: string, maxLength: 100 }
                last_name: { type: string, maxLength: 100 }
                username:
                  type: string
                  minLength: 3
                  maxLength: 50
                  pattern: '^[a-zA-Z0-9_.\-]+$'
                  description: |
                    Becomes the account's referral code and its profile URL
                    (/{username}), so reserved words are refused.
                email: { type: string, format: email }
                password: { type: string, format: password }
                password_confirmation: { type: string, format: password }
                device: { $ref: '#/components/schemas/DeviceRegistration' }
      responses:
        '201':
          description: Account created and signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/Session'
                          - type: object
                            properties:
                              email_verified: { type: boolean }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '429':
          description: RATE_LIMITED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/google:
    post:
      tags: [Auth]
      summary: Sign in with a Google ID token
      description: |
        The app obtains an ID token from Google's own sign-in SDK and sends it
        here; the server verifies it with Google, checks the audience matches
        this app's client id, and issues a Jambo device token.

        The audience check is the point: a valid Google token issued to another
        app is still a valid Google token.

        Google being unreachable answers INVALID_CREDENTIALS rather than
        allowing the sign-in. Two-factor still applies — Google proves the
        mailbox, not possession of the authenticator.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token, device]
              properties:
                id_token: { type: string, description: The ID token from Google Sign-In. }
                device: { $ref: '#/components/schemas/DeviceRegistration' }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/Session' }
        '401':
          description: INVALID_CREDENTIALS — unverifiable token, wrong audience, or no proven email
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '403':
          description: ACCOUNT_DEACTIVATED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: TWO_FACTOR_REQUIRED, with a challenge_token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeError'
                  - properties:
                      challenge_token: { type: string }

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request a password reset link
      description: |
        The response is identical whether or not the address has an account —
        echoing the real status would turn this into an account-enumeration
        oracle. The mail only goes out when the account is real. The link lands
        on the website.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: Always, whether or not the account exists
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Complete a password reset
      description: |
        Signs out every device on the account. A reset is usually someone
        recovering an account they believe was compromised, so leaving other
        sessions alive would defeat it.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, email, password, password_confirmation]
              properties:
                token: { type: string, description: From the emailed link. }
                email: { type: string, format: email }
                password: { type: string, format: password }
                password_confirmation: { type: string, format: password }
      responses:
        '200':
          description: Password reset
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED — expired or wrong token
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/password:
    put:
      tags: [Auth]
      summary: Change your password
      description: |
        Requires the current password: knowing it is what separates the account
        owner from someone holding a stolen handset.

        Signs out every OTHER device. The device making the change keeps
        working, so the viewer is not thrown out of the app they are in.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, password, password_confirmation]
              properties:
                current_password: { type: string, format: password }
                password: { type: string, format: password }
                password_confirmation: { type: string, format: password }
      responses:
        '200':
          description: Changed
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/email:
    get:
      tags: [Auth]
      summary: Is this account's email verified
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          email: { type: string }
                          verified: { type: boolean }

  /auth/email/resend:
    post:
      tags: [Auth]
      summary: Send the verification email again
      description: |
        Throttled below the read endpoints, because it sends mail. An
        already-verified account answers success without sending anything, so a
        retrying client cannot generate mail.
      responses:
        '200':
          description: Sent, or already verified
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          verified: { type: boolean }
        '429':
          description: RATE_LIMITED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Sign out this device only
      description: Deletes the calling token and marks its device revoked. Other devices are untouched.
      responses:
        '200':
          description: Signed out
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /me:
    get:
      tags: [Auth]
      summary: The signed-in viewer, their plan and their caps
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Me'
        '401':
          description: UNAUTHENTICATED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /profile:
    get:
      tags: [Viewer]
      summary: The profile screen
      description: '`GET /me` stays small for launch; this is the editable surface.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          profile: { $ref: '#/components/schemas/Profile' }
    patch:
      tags: [Viewer]
      summary: Edit the profile
      description: |
        Changing the account email requires `current_password` and clears the
        verified flag. Email is the account's recovery anchor: with a stolen
        token an attacker could swap it and then reset their way into a full
        takeover.

        Accounts created through Google have a random password, so those
        viewers set one via password reset before they can change their email —
        the same as on the website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, username, email]
              properties:
                first_name: { type: string, maxLength: 100 }
                last_name: { type: string, maxLength: 100 }
                username: { type: string, minLength: 3, maxLength: 50 }
                email: { type: string, format: email }
                phone: { type: string, maxLength: 32, nullable: true }
                country:
                  type: string
                  minLength: 2
                  maxLength: 2
                  nullable: true
                  description: |
                    ISO-3166-1 alpha-2. Case-insensitive in, stored upper
                    case. Omitting the key clears it, the same as phone — this
                    endpoint is not a partial update.
                  example: UG
                current_password:
                  type: string
                  format: password
                  description: Required only when the email is changing.
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          profile: { $ref: '#/components/schemas/Profile' }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /profile/avatar:
    post:
      tags: [Viewer]
      summary: Replace the profile photo
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [avatar]
              properties:
                avatar: { type: string, format: binary, description: 'jpeg, png, webp or gif, up to 2 MB.' }
      responses:
        '200':
          description: Updated
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    delete:
      tags: [Viewer]
      summary: Remove the profile photo
      responses:
        '200':
          description: Removed
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /countries:
    get:
      tags: [Viewer]
      security: []
      summary: The ISO country list for the profile picker
      description: |
        Public and unauthenticated: it is the same list for everybody, and the
        registration form needs it before anyone has a token.

        `countries` is ordered for a human scanning it — the suggested codes
        first, then the rest by NAME rather than by code. `suggested` is the
        handful shown above the divider; it is sent rather than hard-coded in
        the client so the emphasis can change without a new APK.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          countries:
                            type: array
                            items:
                              type: object
                              properties:
                                code: { type: string, example: UG }
                                name: { type: string, example: Uganda }
                          suggested:
                            type: array
                            items: { type: string }
                            example: [UG, KE, TZ, RW, BI, SS, CD]

  /account/preferences:
    get:
      tags: [Viewer]
      summary: How this viewer wants their video delivered
      description: |
        Always a complete set. A viewer who has never opened the screen gets
        the defaults rather than nulls, so no client branches on a missing key.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          preferences: { $ref: '#/components/schemas/StreamingPreferences' }
    patch:
      tags: [Viewer]
      summary: Change some streaming preferences
      description: |
        PATCH, not PUT: send only the setting that moved. A client that resent
        the whole set and forgot a field would silently reset it to the
        default, which is how a viewer's data saver turns itself off when they
        toggle something unrelated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                video_quality: { type: string, enum: [auto, high, data_saver] }
                autoplay_next: { type: boolean }
                wifi_only_downloads: { type: boolean }
      responses:
        '200':
          description: Saved. Returns the complete set, not just what changed.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          preferences: { $ref: '#/components/schemas/StreamingPreferences' }

  /account/security:
    get:
      tags: [Viewer]
      summary: Two-factor state for this account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/SecurityState' }

  /account/2fa:
    post:
      tags: [Viewer]
      summary: Start two-factor setup
      description: |
        Mints a pending secret and recovery codes and returns them. Render the
        QR in the app from `secret`.

        **Two-factor is NOT on after this call.** It is on only once
        /account/2fa/confirm succeeds — a one-shot enable would let someone
        lock themselves out with a mis-scanned code.
      responses:
        '200':
          description: Setup started
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          secret: { type: string }
                          recovery_codes: { type: array, items: { type: string } }
    delete:
      tags: [Viewer]
      summary: Turn two-factor off
      description: Requires the password. Removing a second factor must cost more than holding an unlocked handset.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, format: password }
      responses:
        '200':
          description: Disabled
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /account/2fa/confirm:
    post:
      tags: [Viewer]
      summary: Finish two-factor setup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, minLength: 6, maxLength: 6 }
      responses:
        '200':
          description: Two-factor is on
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          recovery_codes: { type: array, items: { type: string } }
        '422':
          description: TWO_FACTOR_INVALID
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /account/2fa/recovery-codes:
    post:
      tags: [Viewer]
      summary: Generate a fresh batch of recovery codes
      description: The previous batch stops working immediately.
      responses:
        '200':
          description: New codes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          recovery_codes: { type: array, items: { type: string } }
        '422':
          description: VALIDATION_FAILED — two-factor is not on
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /account:
    delete:
      tags: [Viewer]
      summary: Deactivate this account
      description: |
        Costs the password and an explicit confirmation. Signs out every
        device: a deactivated account is one sign-in refuses, so leaving live
        tokens would let the app keep watching until somebody noticed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password, confirm]
              properties:
                password: { type: string, format: password }
                confirm: { type: boolean, description: Must be true. }
      responses:
        '200':
          description: Deactivated
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /devices:
    get:
      tags: [Devices]
      summary: App installs signed into this account
      description: |
        Browser sessions AND app installs, most recent first. Either list
        alone is half the account: a viewer who hits their stream cap because
        of a laptop at home needs to free that slot from their phone.

        Revoked devices are omitted, and a browser session idle past the
        session lifetime is not listed.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          devices:
                            type: array
                            items: { $ref: '#/components/schemas/Device' }
                          counts_app_devices:
                            type: boolean
                            description: |
                              Whether app installs currently count against the
                              concurrent-device cap. Ships false; browser
                              sessions always count.
                          streams:
                            type: object
                            description: |
                              **A concurrency limit, not a device limit**, and the two
                              are easy to conflate. Nothing stops an account
                              registering a hundred installs; what the tier enforces
                              is how many can watch at once. `watching` comes from the
                              same method `TierGate` calls before letting a stream
                              start, so a client's meter cannot say a viewer has room
                              while the player is about to refuse them.
                            properties:
                              watching: { type: integer }
                              limit:
                                type: integer
                                nullable: true
                                description: |
                                  The tier's cap, or null when there is no
                                  subscription or the tier sets none. **Null is not
                                  zero**: zero would draw a full meter and read as
                                  "you may watch on nothing".

  /devices/{uuid}:
    delete:
      tags: [Devices]
      summary: Sign a device out
      description: |
        Deletes that device's token and stops whatever it was playing counting
        against the concurrent-stream cap. A uuid on another account answers
        DEVICE_NOT_FOUND rather than 403, so the endpoint cannot be used to
        discover that a device exists elsewhere.
      parameters:
        - name: uuid
          in: path
          required: true
          description: A device uuid or a browser session id — either is accepted.
          schema: { type: string, pattern: '^[A-Za-z0-9\-_]{8,64}$' }
      responses:
        '200':
          description: Device signed out
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '404':
          description: DEVICE_NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /home:
    get:
      tags: [Catalogue]
      summary: The home screen
      description: |
        Calls the same HomeRailsService the website's view composer calls, so
        the rails, their order and the rules that pick them are the website's.
        Section headings come from the same `sectionTitle` translation keys the
        blades render.

        Public, but personalising: send a bearer token and Continue Watching
        appears and the personalised rails become personal. Without one the
        response is the guest home screen rather than an error.

        `rails` is an ordered list, not a fixed object, so a rail added
        server-side needs no app release. Empty rails are omitted entirely.
        Render by `kind`, not by `key`.
      security:
        - {}
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Home'

  /movies:
    get:
      tags: [Catalogue]
      summary: Published movies, newest first
      security: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: per_page, in: query, schema: { type: integer, default: 24, maximum: 60 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/MovieList'

  /movies/{slug}:
    get:
      tags: [Catalogue]
      summary: One movie
      description: |
        Reachable for published and upcoming titles. `is_released` says whether
        it can be watched yet, which is not the same as whether this viewer may
        watch it — that is answered by POST /playback/sessions.
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          movie: { $ref: '#/components/schemas/MovieDetail' }
                          is_released: { type: boolean }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /series:
    get:
      tags: [Catalogue]
      summary: Published series, newest first
      security: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: per_page, in: query, schema: { type: integer, default: 24, maximum: 60 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/SeriesList'

  /series/{slug}:
    get:
      tags: [Catalogue]
      summary: One series with its seasons and episodes
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          series: { $ref: '#/components/schemas/SeriesDetail' }
                          is_released: { type: boolean }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /episodes/{id}:
    get:
      tags: [Catalogue]
      summary: One episode and the series it belongs to
      security: []
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          episode: { $ref: '#/components/schemas/Episode' }
                          series: { $ref: '#/components/schemas/SeriesCard' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /search:
    get:
      tags: [Catalogue]
      summary: Search movies and series by title
      description: Fewer than two characters returns empty lists rather than an error.
      security: []
      parameters:
        - { name: q, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          query: { type: string }
                          movies: { type: array, items: { $ref: '#/components/schemas/MovieCard' } }
                          series: { type: array, items: { $ref: '#/components/schemas/SeriesCard' } }

  /genres:
    get:
      tags: [Catalogue]
      summary: Every genre, with how much published content each has
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          genres: { type: array, items: { $ref: '#/components/schemas/GenreCard' } }

  /genres/{slug}:
    get:
      tags: [Catalogue]
      summary: One genre and its published titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /categories:
    get:
      tags: [Catalogue]
      summary: Every category
      description: '`visible_home` marks the ones the admin put on the homepage.'
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          categories: { type: array, items: { $ref: '#/components/schemas/CategoryCard' } }

  /categories/{slug}:
    get:
      tags: [Catalogue]
      summary: One category and its published titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /vjs:
    get:
      tags: [Catalogue]
      summary: VJs with published work
      description: |
        A VJ is the narrator who voices a title — Jambo's own concept, not part
        of the Streamit template. VJs whose entire catalogue is still draft are
        not listed.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          vjs: { type: array, items: { $ref: '#/components/schemas/VjCard' } }

  /vjs/{slug}:
    get:
      tags: [Catalogue]
      summary: One VJ, their links and their titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /cast/{slug}:
    get:
      tags: [Catalogue]
      summary: One cast member and their titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /{type}/{slug}/reviews:
    parameters:
      - { name: type, in: path, required: true, schema: { type: string, enum: [movies, series] } }
      - { name: slug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Viewer]
      summary: The review thread for a title
      description: |
        Published reviews, newest first, plus the aggregate shown beside the
        stars and this viewer's own review — so a detail screen needs one
        request rather than three.

        Public, but send a bearer token to get `mine` populated.
      security:
        - {}
        - bearerAuth: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/ReviewThread' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    post:
      tags: [Viewer]
      summary: Write or replace your review
      description: |
        One review per viewer per title. Posting again edits the existing one
        rather than adding a second, which also makes this safe to retry.
        Only a genuinely new review notifies an admin; an edit does not.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stars, body]
              properties:
                stars: { type: integer, minimum: 1, maximum: 5 }
                title: { type: string, maxLength: 200, nullable: true }
                body: { type: string, minLength: 3, maxLength: 4000 }
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          review: { $ref: '#/components/schemas/Review' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    delete:
      tags: [Viewer]
      summary: Remove your review
      description: Idempotent — removing one that is not there is a success.
      responses:
        '200':
          description: Removed
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /episodes/{id}/comments:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
    get:
      tags: [Viewer]
      summary: The comment thread under an episode
      description: |
        Approved top-level comments, newest first, each with its replies
        nested. Public, but send a bearer token to get `is_mine` populated.
      security:
        - {}
        - bearerAuth: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items: { type: array, items: { $ref: '#/components/schemas/CommentThread' } }
                          next_cursor: { type: string, nullable: true }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    post:
      tags: [Viewer]
      summary: Post a comment or a reply
      description: A `parent_id` must belong to the same episode, or the reply is refused.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, minLength: 2, maxLength: 2000 }
                parent_id: { type: integer, nullable: true, description: The comment being replied to. }
      responses:
        '201':
          description: Posted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          comment: { $ref: '#/components/schemas/Comment' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '422':
          description: VALIDATION_FAILED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /comments/{id}:
    delete:
      tags: [Viewer]
      summary: Delete your own comment
      description: |
        Admins may delete any. Somebody else's comment answers NOT_FOUND
        rather than 403, so the endpoint cannot be used to confirm a comment
        exists.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Removed
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /notifications:
    get:
      tags: [Viewer]
      summary: The viewer's notifications
      description: |
        **This is the fallback that makes push safe.** Push is an accelerator,
        never the transport — an OEM battery manager kills processes, tokens go
        stale, handsets sit offline for a day. Everything a push says is
        readable here, and the app must be usable with push switched off
        entirely.

        Carries `unread_count`, so a badge costs one request rather than two.
        The count is of the whole inbox and never of the filtered page: it is the
        bell's badge, and a badge that moved when a chip was pressed would be
        reporting the chip.

        `category` filters on the server because the list is cursor-paginated —
        filtering the page the app happens to hold would hide matching rows until
        the viewer scrolled far enough to load them. An unrecognised category is a
        422, never a silently unfiltered list.
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - name: category
          in: query
          schema: { type: string, enum: [movies, series, account, offers] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          unread_count: { type: integer }
                          items: { type: array, items: { $ref: '#/components/schemas/Notification' } }
                          next_cursor: { type: string, nullable: true }
    delete:
      tags: [Viewer]
      summary: Clear every notification
      responses:
        '200':
          description: Cleared
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /notifications/read-all:
    post:
      tags: [Viewer]
      summary: Mark everything read
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /notifications/{id}/read:
    post:
      tags: [Viewer]
      summary: Mark one read
      description: Idempotent — an already-read notification is a success.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /notifications/{id}:
    delete:
      tags: [Viewer]
      summary: Delete one
      description: Idempotent — deleting one already gone is a success, so a retry cannot fail.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /notifications/preferences:
    get:
      tags: [Viewer]
      summary: Notification channels, and per-category preferences
      description: |
        Two layers, and they are not the same thing.

        `channels` is the viewer's global per-channel switch — the three columns on
        `users` that form layer 4 of the gate in `ChannelGatedNotification`, and the
        three switches the website's own "Delivery preferences" card renders.

        `preferences` is the per-notification-type opt-out, which can only narrow
        what `channels` allows.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          channels: { $ref: '#/components/schemas/NotificationChannels' }
                          email_verified:
                            type: boolean
                            description: |
                              Whether the address the emails would go to is confirmed. The
                              website says this beside its Email switch, because it is a
                              fact the switch itself cannot show.
                          preferences: { type: array, items: { $ref: '#/components/schemas/NotificationPreference' } }
    put:
      tags: [Viewer]
      summary: Set channels, preferences, or both
      description: |
        Both keys are optional; a request carrying neither is a 422. A PUT that
        validates and changes nothing reads as success to the app, which leaves the
        switch where the viewer put it while the server disagrees.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channels: { $ref: '#/components/schemas/NotificationChannels' }
                preferences:
                  type: array
                  items: { $ref: '#/components/schemas/NotificationPreference' }
      responses:
        '200':
          description: Saved, and the full set returned
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /notifications/push-token:
    post:
      tags: [Viewer]
      summary: Register this install's FCM token
      description: |
        The token is stored against the device row, which means **signing out
        deletes it** — a shared handset must never keep the previous account's
        token and deliver their notifications to whoever is holding the phone.
        Booting the device from elsewhere clears it too.

        A token can belong to only one install: registering one already held
        elsewhere moves it. Android reissues the same token to a reinstall, and
        two rows holding it would mean one push delivered twice.

        `push_enabled` is this handset's own switch, separate from the
        per-category preferences.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, maxLength: 512 }
                push_enabled: { type: boolean, nullable: true }
      responses:
        '200':
          description: Registered
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          registered: { type: boolean }
                          push_enabled: { type: boolean }
        '404':
          description: DEVICE_NOT_FOUND — this session has no device row to attach a token to
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
    delete:
      tags: [Viewer]
      summary: Stop pushing to this install
      description: Signing out does this too. This is for the viewer who wants the app but not the notifications.
      responses:
        '200':
          description: Unregistered
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }

  /plans:
    get:
      tags: [App]
      summary: The plans on offer
      description: |
        Public. The Google Play build is consumption-only under ADR-0004 — it
        shows what a plan costs and sells nothing — so this has to be readable
        without a token.

        `max_concurrent_streams` null means the plan sets no cap. Render
        "unlimited", never "0" and never "none".
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          plans: { type: array, items: { $ref: '#/components/schemas/Plan' } }

  /subscription:
    get:
      tags: [Viewer]
      summary: The viewer's plan, with the plan list beside it
      description: |
        `GET /me` carries a summary for the launch screen; this is the
        membership screen. The plan list comes with it so an upgrade prompt can
        be drawn from one request.

        **There is no checkout endpoint.** The Play build may not sell, and the
        direct APK's in-app PesaPal is not built yet — reusing the website's
        order creation safely means extracting money code (server-authored
        price, frozen price snapshot, referral discount) into a shared service.
        See docs/api/coverage.md.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          subscription:
                            nullable: true
                            allOf: [{ $ref: '#/components/schemas/Subscription' }]
                          plans: { type: array, items: { $ref: '#/components/schemas/Plan' } }

  /subscription/orders:
    get:
      tags: [Viewer]
      summary: Payment history
      description: Amounts come off the order row — an invoice says what was paid, not what the plan costs today.
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items: { type: array, items: { $ref: '#/components/schemas/PaymentOrder' } }
                          next_cursor: { type: string, nullable: true }
                          totals: { $ref: '#/components/schemas/SpendTotals' }
    post:
      tags: [Viewer]
      summary: Start paying for a plan
      description: |
        Creates a pending order and returns where to send the payer.

        **The request names a plan and nothing else.** There is no `amount`,
        no `currency` and no gateway: the server reads the price off the tier
        row, freezes it into `metadata.tier_snapshot`, computes any referral
        discount itself, and picks the gateway from `payments.default_gateway`.
        A client cannot pair a plan with a price of its own, and adding a
        second gateway is a server change this contract does not see.

        **Who may call it is decided by the app, not here.** ADR-0004 makes the
        Google Play build consumption-only, because Play's Payments policy
        requires Play Billing for subscription video outside IN/KR/EEA/US. The
        direct APK shows the button; the Play build does not. The server does
        not police the variant — Google inspects the binary, not the API, and a
        variant flag sent by a client is not a security control.

        The payer finishes in a browser. The gateway confirms to the **server**,
        so a client should poll `GET /subscription/orders/{reference}` rather
        than treating its own return as proof of payment.

        Rate limited below the auth rate and fails closed: every call mints an
        order row and a gateway order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tier_slug]
              properties:
                tier_slug:
                  type: string
                  maxLength: 100
                  description: An active, paid tier. A free or withdrawn plan is refused.
      responses:
        '200':
          description: Order created; send the payer to `redirect_url`.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          checkout:
                            type: object
                            description: |
                              **How to present the checkout, not which gateway made it.**
                              The app ships knowing a closed set of modes and the server
                              picks one per order, so a gateway added later needs no app
                              release — which is the point: a phone that has not updated
                              in a year still completes the sale.
                            properties:
                              mode:
                                type: string
                                enum: [webview, redirect]
                                description: |
                                  `webview` hosts it inside the app, which is what every
                                  hosted checkout fits, PesaPal's iframe included.
                                  `redirect` opens it outside. A client meeting a mode it
                                  does not know must fall back to `redirect`.
                              url: { type: string }
                              return_url: { type: string, description: 'Jambo own URL. Navigation here means the flow finished.' }
                              cancel_url: { type: string, description: 'Jambo own URL. Navigation here means the payer backed out.' }
                          reference: { type: string, description: 'The merchant reference, for polling the order.' }
        '404':
          description: NOT_FOUND — no such active plan.
        '422':
          description: VALIDATION_FAILED — the plan is free, or no slug was sent.
        '429':
          description: RATE_LIMITED.
        '500':
          description: SERVER_ERROR — payments unconfigured, or the gateway refused.

  /subscription/orders/{reference}:
    get:
      tags: [Viewer]
      summary: One order
      parameters:
        - { name: reference, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          order: { $ref: '#/components/schemas/PaymentOrder' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /referrals:
    get:
      tags: [Viewer]
      summary: Refer and earn
      description: |
        404 while the referral programme is switched off — **except** for a
        viewer who already has wallet history, whose earned money must not
        become unreachable because a setting changed. That is the website's
        rule and it looks like a bug otherwise.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/ReferralDashboard' }
        '404':
          description: NOT_FOUND — the programme is off and this viewer has no wallet history
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /referrals/code/check:
    post:
      tags: [Viewer]
      summary: Is this referral code free?
      description: |
        Live availability while a code is being typed, so a viewer learns a
        code is taken before they submit rather than from a 422.

        **Never says available for something `PUT /referrals/code` would
        reject.** Both go through `ReferralCodeRules`, which is also what the
        website's own form and its `/referrals/check-code` endpoint use — so
        the four cannot drift apart. That matters because a referral code
        shares a namespace with usernames: the profile hub lives at
        `/{username}`, so a code is also a URL segment and cannot be a name the
        router already owns.

        POST rather than GET: the code is user input and a GET would put every
        keystroke in an access log.

        An unusable code is `available: false` with a reason, not a validation
        error — a 422 per keystroke is not a useful answer to somebody
        mid-word. A 404 means the referral programme is switched off.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          available:
                            type: boolean
                          message:
                            type: string
                            description: Why, in words a viewer can read.
        '404':
          description: The referral programme is not available.
  /referrals/code:
    put:
      tags: [Viewer]
      summary: Set a custom referral code
      description: |
        The code shares a namespace with usernames — a profile lives at
        /{username} — so it must be free against both columns.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, minLength: 3, maxLength: 50, pattern: '^[a-zA-Z0-9_.\-]+$' }
      responses:
        '200':
          description: Updated
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeOk' } } }
        '422':
          description: VALIDATION_FAILED — taken, or colliding with a username
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /wallet:
    get:
      tags: [Viewer]
      summary: Balance, ledger and withdrawals
      description: |
        Every entry records the balance after it, so a client never adds money up
        itself.

        `withdrawals` carries the ten most recent requests, and it is not
        decoration: the hold is taken the moment a withdrawal is requested, so a
        balance that has dropped with nothing paid out yet has no explanation
        without it. `has_open_withdrawal` is computed from the same statuses the
        service guards on, so the button an app draws and the rule the server
        enforces cannot disagree.

        **Money arrives as a string, and its decimal formatting follows the
        database.** MySQL answers `"15000.00"` where SQLite answers `"15000"`.
        Format for display; never compare these as strings.
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/Wallet' }

  /wallet/withdrawals:
    post:
      tags: [Viewer]
      summary: Request a cash withdrawal
      description: |
        Money leaving the business. Added 2026-09-09 so the app's wallet screen can
        finish the task rather than send a viewer to a browser.

        **It writes no money logic of its own.** The controller calls
        `ReferralWalletService::requestWithdrawal`, which is the entry point the
        website's own form posts to, and `Payouts::request` below that is where the
        row lock, the one-open-request guard and the ledger hold live. The whole
        thing runs in a transaction: if the ledger refuses the hold, the request row
        rolls back with it.

        **A retry is safe without an idempotency key.** The service locks the owner
        row and refuses a second open request, so a resubmit over a dropped
        connection cannot create two withdrawals — it returns 422 instead, and the
        client refetches to show the one that exists.

        A 422 carries a message written for a viewer: the minimum, the withdrawal
        already in progress, or the insufficient balance. All three are answers
        rather than faults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, payee_name, payee_msisdn]
              properties:
                amount: { type: number, minimum: 1 }
                payee_name: { type: string, maxLength: 100 }
                payee_msisdn:
                  type: string
                  maxLength: 30
                  pattern: '^[0-9+ ]{7,30}$'
                  description: |
                    The same rule the website's form applies. A number the browser
                    rejects and the app accepts is a payout that fails at the till.
      responses:
        '200':
          description: Requested
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          withdrawal: { $ref: '#/components/schemas/Withdrawal' }
                          balance:
                            type: string
                            description: The balance after the hold, so a client never subtracts it itself.
        '404': { description: The wallet is not available to this viewer }
        '422': { description: 'Refused, with a message written for a viewer' }

  /watchlist:
    get:
      tags: [Viewer]
      summary: The viewer's watchlist
      description: Rows whose title has since been deleted are dropped rather than returned as nulls.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/WatchlistCard'
    post:
      tags: [Viewer]
      summary: Add a title to the watchlist
      description: |
        Idempotent — adding something already on the list succeeds and changes
        nothing, so a retry after a dropped connection is safe. This is
        deliberately not the website's toggle endpoint: a retried toggle
        silently undoes itself.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, id]
              properties:
                type: { type: string, enum: [movie, show, episode] }
                id: { type: integer }
      responses:
        '200':
          description: On the list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          in_list: { type: boolean }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /watchlist/{type}/{id}:
    delete:
      tags: [Viewer]
      summary: Remove a title from the watchlist
      description: Idempotent — removing something that is not on the list is a success, not a 404.
      parameters:
        - { name: type, in: path, required: true, schema: { type: string, enum: [movie, show, episode] } }
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Not on the list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          in_list: { type: boolean }

  /continue-watching:
    get:
      tags: [Viewer]
      summary: Continue Watching as its own screen
      description: |
        The same cards the home screen's `continue_watching` rail carries, from
        the same service, so the two cannot disagree about where the viewer
        stopped. Finished titles are excluded; see /history for those.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items: { $ref: '#/components/schemas/ContinueWatchingCard' }

  /history:
    get:
      tags: [Viewer]
      summary: Everything watched, newest first
      description: A record rather than a to-do list, so unlike Continue Watching it keeps finished titles.
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items: { $ref: '#/components/schemas/HistoryEntry' }
                          next_cursor: { type: string, nullable: true }

  /search/suggest:
    get:
      tags: [Catalogue]
      summary: Type-ahead suggestions
      description: |
        Deliberately thinner and shorter than /search — five of each and only
        the fields a dropdown row draws, because a viewer sends this on every
        keystroke over a mobile connection. Fewer than two characters returns
        an empty list rather than an error.
      security: []
      parameters:
        - { name: q, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          query: { type: string }
                          suggestions: { type: array, items: { $ref: '#/components/schemas/Suggestion' } }

  /tags:
    get:
      tags: [Catalogue]
      summary: Every tag
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          tags: { type: array, items: { $ref: '#/components/schemas/GenreCard' } }

  /tags/{slug}:
    get:
      tags: [Catalogue]
      summary: One tag and its published titles
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data: { $ref: '#/components/schemas/TaxonomyPage' }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /cast:
    get:
      tags: [Catalogue]
      summary: Everyone with published work
      description: |
        Ordered by how much of the catalogue they appear in, which is what
        makes the grid useful. Paged by offset: the primary order is a raw
        expression a cursor cannot be built from.
      security: []
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          items: { type: array, items: { $ref: '#/components/schemas/PersonCard' } }
                          page: { type: integer }
                          per_page: { type: integer }
                          total: { type: integer }
                          next_page: { type: integer, nullable: true }

  /collections:
    get:
      tags: [Catalogue]
      summary: Which "see all" collections exist
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          collections:
                            type: array
                            items:
                              type: object
                              properties:
                                key: { type: string }
                                title: { type: string }
                                type: { type: string, enum: [movie, show] }

  /collections/{rail}:
    get:
      tags: [Catalogue]
      summary: The full list behind a home rail
      description: |
        The same catalog the website's /collection/{rail} page uses, so the
        app's "see all" and the site's cannot diverge.

        Personalised rails (top-picks, smart-shuffle, fresh-picks) pin the
        viewer's own recommendations to the front, so send a bearer token to
        get a personal ordering.

        Paged by offset, unlike the catalogue lists. Pinned rails order with
        a raw expression a cursor cannot be built from, and plain rails order
        on created_at, which bulk-imported titles share to the second - a
        cursor on it dropped every tied row. The website pages these by
        offset too.
      security:
        - {}
        - bearerAuth: []
      parameters:
        - { name: rail, in: path, required: true, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: per_page, in: query, schema: { type: integer, default: 24, maximum: 60 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          key: { type: string }
                          title: { type: string }
                          items:
                            type: array
                            items:
                              oneOf:
                                - $ref: '#/components/schemas/MovieCard'
                                - $ref: '#/components/schemas/SeriesCard'
                          page: { type: integer }
                          per_page: { type: integer }
                          total: { type: integer }
                          next_page: { type: integer, nullable: true, description: null on the last page. }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /pages:
    get:
      tags: [App]
      summary: The CMS pages
      description: |
        About, FAQ, Privacy, Terms. Generic on purpose: adding a page in the
        admin makes it available to the app with no release, and Google Play
        requires a subscription app to show its terms and privacy policy.

        Structural rows the website assembles into chrome (the footer, anything
        flagged system) are excluded from this list but remain fetchable by
        slug.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          pages:
                            type: array
                            items:
                              type: object
                              properties:
                                slug: { type: string }
                                title: { type: string }
                                summary: { type: string, nullable: true }

  /pages/{slug}:
    get:
      tags: [App]
      summary: One CMS page
      description: '`content` is admin-authored HTML, the same string the website renders.'
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          page:
                            type: object
                            properties:
                              slug: { type: string }
                              title: { type: string }
                              content: { type: string, description: Admin-authored HTML. }
                              summary: { type: string, nullable: true }
                              image_url: { type: string }
                              updated_at: { type: string, format: date-time, nullable: true }
        '404':
          description: NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /playback/sessions:
    post:
      tags: [Playback]
      summary: Authorize playback and get a URL
      description: |
        Runs the same entitlement rules as the website (PlaybackAuthorizer):
        release state, the site-wide sign-up switch, the plan level with an
        episode inheriting its series' plan, the admin bypass, and the
        concurrent-stream cap keyed on this device's uuid.

        `source` is `file` for titles Jambo hosts and `embed` for YouTube-backed
        ones, which cannot be downloaded and must be opened in an embed.

        A `low` request for a title with no data-saver rendition is refused
        rather than silently served at full size.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, id]
              properties:
                type: { type: string, enum: [movie, episode] }
                id: { type: integer }
                quality: { type: string, enum: [default, low], default: default }
      responses:
        '200':
          description: Authorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        $ref: '#/components/schemas/PlaybackSession'
        '401':
          description: UNAUTHENTICATED or LOGIN_REQUIRED
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '403':
          description: SUBSCRIPTION_REQUIRED or UPGRADE_REQUIRED, with `required_tier`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeError'
                  - properties:
                      required_tier: { $ref: '#/components/schemas/Tier' }
        '404':
          description: NOT_FOUND, or CONTENT_UNAVAILABLE for an unreleased title or a missing rendition
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }
        '409':
          description: STREAM_LIMIT — entitled, but already watching on as many devices as the plan allows
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

  /playback/heartbeat:
    post:
      tags: [Playback]
      summary: Report playback position
      description: |
        Send every `heartbeat_seconds` while playing. Records the resume
        position, refreshes the live-stream signal the cap reads, and raises the
        event partner earnings accrue from — the same recorder the website uses.

        A 409 means this device was booted from the account mid-stream: stop
        playing and sign out.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, id, position]
              properties:
                type: { type: string, enum: [movie, episode] }
                id: { type: integer }
                position: { type: integer, minimum: 0, description: Seconds into the title }
                duration: { type: integer, minimum: 1, description: 'Player-reported runtime, when known' }
      responses:
        '200':
          description: Recorded
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeOk'
                  - properties:
                      data:
                        type: object
                        properties:
                          position: { type: integer }
                          completed: { type: boolean }
        '409':
          description: DEVICE_REVOKED — this device was signed out mid-stream
          content: { application/json: { schema: { $ref: '#/components/schemas/EnvelopeError' } } }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: A Sanctum personal access token from /auth/login, bound to one device.

  schemas:
    EnvelopeOk:
      type: object
      required: [success, message, data]
      properties:
        success: { type: boolean, enum: [true] }
        message: { type: string }
        data: { type: object }

    EnvelopeError:
      type: object
      required: [success, code, message, errors]
      properties:
        success: { type: boolean, enum: [false] }
        code:
          type: string
          description: Branch on this, never on `message`.
          enum:
            - UNAUTHENTICATED
            - INVALID_CREDENTIALS
            - ACCOUNT_DEACTIVATED
            - TWO_FACTOR_REQUIRED
            - TWO_FACTOR_INVALID
            - TWO_FACTOR_CHALLENGE_EXPIRED
            - DEVICE_REVOKED
            - DEVICE_NOT_FOUND
            - LOGIN_REQUIRED
            - SUBSCRIPTION_REQUIRED
            - UPGRADE_REQUIRED
            - STREAM_LIMIT
            - CONTENT_UNAVAILABLE
            - VALIDATION_FAILED
            - NOT_FOUND
            - FORBIDDEN
            - RATE_LIMITED
            - APP_UPDATE_REQUIRED
            - SERVER_ERROR
        message: { type: string }
        errors:
          type: object
          description: Field-keyed validation messages; empty object when not a validation failure.

    AppConfig:
      type: object
      properties:
        min_app_version: { type: string, example: '1.0.0' }
        server_time: { type: string, format: date-time }
        features:
          type: object
          properties:
            downloads: { type: boolean }
            in_app_subscribe: { type: boolean }
            account_deletion:
              type: boolean
              description: |
                Whether the app offers its "Delete account" button. Set from
                admin settings (`app.account_deletion_enabled`) and **defaults
                to true**, unlike the flags around it: those gate features that
                are not finished, this one gates a feature that is, and a
                missing settings row must not silently take away somebody's
                ability to close their own account.

                `DELETE /account` checks the same setting and refuses with
                FORBIDDEN when it is off, so turning it off stops a build that
                already draws the button. This flag only decides whether the
                row is drawn.

            google_sign_in:
              type: boolean
              description: |
                Whether this server has Google sign-in configured. The sign-in
                screen needs it before anyone is authenticated, which is why it
                is here rather than only in /account/security. False means hide
                the button: `POST /auth/google` cannot succeed without it.
            referrals:
              type: boolean
              description: |
                Whether the referral program is switched on. The website's
                profile sidebar hides its "Refer & Earn" tab on the same
                condition, and the app's profile drawer is that sidebar.
                False means omit the row: the page behind it is disabled.
        support:
          type: object
          properties:
            site_url: { type: string }
        branding:
          type: object
          description: |
            The admin's own logo and preloader, so branding changes without a
            new APK. Both URLs are absolute and carry a `?v=` fingerprint of
            the file's modification time: the app caches them on disk and
            reuses them offline, so a replaced image is simply a different URL
            and is fetched exactly once. Null when the setting is unset and no
            fallback resolves.

            The launcher icon and the splash screen are deliberately not here.
            Android reads both out of the APK before any JavaScript runs, so no
            endpoint can change them.
          properties:
            logo_url: { type: string, nullable: true, description: 'Wordmark, as the website''s auth header shows it.' }
            preloader_url: { type: string, nullable: true, description: 'The site''s loading animation. Usually an animated GIF.' }

    DeviceRegistration:
      type: object
      required: [uuid, platform]
      description: Generated by the app at first launch. The uuid is also this device's streaming session key.
      properties:
        uuid: { type: string, minLength: 8, maxLength: 64 }
        platform: { type: string, enum: [android, android_tv] }
        name: { type: string, maxLength: 120 }
        model: { type: string, maxLength: 120 }
        app_version: { type: string, maxLength: 32 }

    Profile:
      type: object
      properties:
        id: { type: integer }
        first_name: { type: string }
        last_name: { type: string }
        username:
          type: string
          description: Also the account's referral code and its profile URL.
        email: { type: string }
        phone: { type: string, nullable: true }
        country:
          type: string
          nullable: true
          minLength: 2
          maxLength: 2
          description: |
            ISO-3166-1 alpha-2, upper case. Null when the viewer has never set
            one, which is most accounts — render a dash, never a guess.
          example: UG
        country_name:
          type: string
          nullable: true
          description: |
            The display name for `country`, derived server-side so no client
            carries a 250-row lookup to render one row. Null exactly when
            `country` is null. Falls back to the code itself on a server
            without the `intl` extension.
          example: Uganda
        email_verified: { type: boolean }
        avatar_url:
          type: string
          nullable: true
          description: |
            A path relative to the public root, like every other image this API
            returns — `poster_url` is `/storage/gallery/...` and this is the
            same shape. Resolve it against the host you are talking to, NOT
            against any host the payload names.

            The exception is an image this server does not host: an
            admin-pasted Dropbox or Backblaze link comes back as the absolute
            URL it was stored as, and must be used verbatim.

            Null when the account has never uploaded a photo, which is most of
            them. Draw the viewer's initial rather than a stock face.
          example: /storage/3/hQmG5DJV3C04a6rpVMWVY25Zv88WV3hVzz41L8gp.png
        joined_at: { type: string, format: date-time, nullable: true }

    StreamingPreferences:
      type: object
      description: |
        Kept with the account, not the handset, so the same choices hold on a
        second phone and on the television in Phase 4.
      properties:
        video_quality:
          type: string
          enum: [auto, high, data_saver]
          description: |
            Jambo has exactly two renditions — `video_url` and `video_url_low`,
            which `/playback/sessions` selects with `quality: default|low`. So
            these three values are two files plus the choice to pick between
            them automatically, NOT a resolution ladder. `high` always asks for
            `default`; `data_saver` always asks for `low`; `auto` lets the
            client decide, which today means the connection it is on.
        autoplay_next:
          type: boolean
          description: |
            Roll into the next episode. The website's player already has this
            switch; until now it was per-session and forgotten on reload.
        wifi_only_downloads:
          type: boolean
          description: |
            Hold downloads until the device is on Wi-Fi. Stored now so Phase 3
            inherits the viewer's answer, but a client MUST NOT show this
            control while `features.downloads` is false — a switch governing a
            feature that does not exist is a setting that appears to do
            nothing.

    SecurityState:
      type: object
      properties:
        two_factor:
          type: object
          properties:
            enabled: { type: boolean }
            pending:
              type: boolean
              description: A secret exists but no code has confirmed it yet.
            secret:
              type: string
              nullable: true
              description: Only while pending or enabled. Render the QR from this.
            recovery_codes: { type: array, items: { type: string } }
        google_enabled: { type: boolean, description: Whether this server has Google sign-in configured. }
        email_verified: { type: boolean }

    Device:
      type: object
      description: |
        One thing signed into the account. `kind` says which: an app install or
        a browser session. `id` is the device uuid for an app and the session
        id for a browser — one field, because DELETE /devices/{id} takes
        either.
      properties:
        id: { type: string }
        kind: { type: string, enum: [app, browser] }
        name: { type: string, nullable: true, description: 'For a browser, the parsed user agent.' }
        icon:
          type: string
          description: |
            A Phosphor icon name for this row — `ph-desktop`, `ph-device-mobile`,
            `ph-television`, `ph-globe`.

            For a browser it is whatever `UserAgent::parse` decided, which is the
            same call the website's own device list draws from, so the two surfaces
            cannot disagree about the same user agent. For an app install it comes
            from `platform`.

            Clients resolve it through their icon table rather than branching on
            `kind`: a browser row has no `platform`, so without this every browser
            would be the same picture.
        model: { type: string, nullable: true, description: App installs only. }
        platform: { type: string, nullable: true, enum: [android, android_tv, null] }
        app_version: { type: string, nullable: true, description: App installs only. }
        ip_address:
          type: string
          nullable: true
          description: |
            The address this thing last spoke from. Browser sessions have always
            carried one; app installs record it as of 2026-09-09, one value only,
            overwritten when the device moves.
        location:
          type: string
          nullable: true
          description: |
            "Kampala, Uganda", resolved at read time from `ip_address` and never
            stored. **Null is the normal answer** and clients must render it: a
            private address has no location, and the geolocation database is not in
            the repository, so a server without one answers null for every row. Fall
            back to showing `ip_address`, which is what the website shows.

            Never guessed. A wrong city on a security screen is worse than no city,
[...]
